	<!-- Start Section -->
	<div class="section section-bg-muscari section-muscari section-pad-sm footer-fix" id="footers">
		<div class="container">
			
			<div class="row" id="footer">
				<div class="col-sm-6 col-xl-4 res-l-bttm">
					<a class="footer-brand animated" data-animate="fadeInUp" data-delay="0" href="./">
						<img class="logo logo-light" alt="logo" src="/images/logo_light_custom.png" style="width: 80%; height: auto;">
					</a>
					<ul class="social social-center">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fa fa-facebook"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><em class="fa fa-twitter"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><em class="fa fa-youtube-play"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><em class="fa fa-github"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><em class="fa fa-bitcoin"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><em class="fa fa-medium"></em></a></li>
					</ul>
				</div><!-- .col  -->
				<div class="col-sm-6 col-xl-4 res-l-bttm">
					<div class="footer-subscription">
						<h6 class="animated" data-animate="fadeInUp" data-delay=".6">Create your own crowdsale now</h6>
						<form id="subscribe-form" action="form/subscribe.php" method="post" class="subscription-form animated" data-animate="fadeInUp" data-delay=".7">
							<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email" >
							<input type="text" class="d-none" name="form-anti-honeypot" value="">
							<button type="submit" class="btn btn-plane">Subscribe</button>
							<div class="subscribe-results"></div>
						</form>
					</div>
				</div><!-- .col  -->
				<div class="col-xl-4">
					<ul class="link-widget animated" data-animate="fadeInUp" data-delay=".8">
						<li><a href="#" class="menu-link">Product</a></li>
						<li><a href="#" class="menu-link">Join Us</a></li>
						<li><a href="#" class="menu-link">Contact</a></li>
						<li><a href="#" class="menu-link">Roadmap</a></li>
						<li><a href="#" class="menu-link">FAQ</a></li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="gaps size-2x"></div>
			<div class="row">
				<div class="col-md-7">
					<span class="copyright-text">
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div><!-- .col  -->
				<div class="col-md-5 text-right mobile-left">
					<ul class="footer-links">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section -->