	<meta charset="utf-8">
	<meta name="author" content="Iconemy">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Iconemy allows your to create your own cryptocurrency in less than 10 minutes!">

	<meta property="og:title" content="Iconemy - Create your own crowdsale"/>
    <meta property="og:description" content="Create a cryptocurrency in less than 10 minutes."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://iconemy.io"/>
    <meta property="og:image" content="http://iconemy.io/images/promo_img.png"/>

	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/logo_favicon.png">
	<!-- Site Title  -->
	<title>Iconemy | Create your own crowdsale</title>