	<meta charset="utf-8">
	<meta name="author" content="Iconemy">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Iconemy allows your to create your own ICO in less than 10 minutes!">

	<meta property="og:title" content="Iconemy - We make ICOs easy."/>
    <meta property="og:description" content="Sign up and invest in ICOs in minutes."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://quiet-coast-97144.herokuapp.com/new2"/>
    <meta property="og:image" content="https://quiet-coast-97144.herokuapp.com/images/new_landing/meta_image_light.png"/>

    <meta name="csrf-token" content="<%= csrf %>">

	<!-- Fav Icon  -->
	<link rel="icon" type="image/png" href="images/favicon.png" />
	<!-- Site Title  -->
	<title>Iconemy | ICOs made easy.</title>