	<meta charset="utf-8">
	<meta name="author" content="Iconemy">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Iconemy allows your to create your own ICO in less than 10 minutes!">

	<meta property="og:title" content="Iconemy - We make ICOs easy."/>
    <meta property="og:description" content="Create an ICO in less than 10 minutes."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.iconemy.io"/>
    <meta property="og:image" content="https://www.iconemy.io/images/Iconemy_promo_img@1x.png"/>

	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="/images/Iconemy_just_logo_white_bg.png">
	<!-- Site Title  -->
	<title>Iconemy | ICOs made easy.</title>