<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>User Center - ICO Crypto</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
	
</head>

<body class="user-dashboard">
    
    
    <div class="topbar">

        <% include ico_dashboard/partials/topbar_action_md %>
        <% include ico_dashboard/partials/topbar_action_lg %>

    </div>
    <!-- TopBar End -->
    
    
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">

                <% include ico_dashboard/partials/sidebar %>
                
                <div class="user-content">
                    <div class="user-panel">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="user-panel-title">Community chat</h2>
                                <div id="disqus_thread"></div>
                                <script>

                                /**
                                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                
                                var disqus_config = function () {
                                this.page.url = 'https://quiet-coast-97144.herokuapp.com';  // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = 'metafusion'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };
                                
                                (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://iconemy-staging.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                                })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            </div><!-- .col -->
                        </div><!-- .row -->
<!--                         <div class="row">
                            <div class="col-12">
                                <h2 class="user-panel-title">Twitter feed</h2>
                                <a href="https://twitter.com/intent/tweet?screen_name=MetaFusionToken&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @MetaFusionToken</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                <a class="twitter-timeline" href="https://twitter.com/MetaFusionToken?ref_src=twsrc%5Etfw">Tweets by MetaFusionToken</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div> -->
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->

    <% include ico_dashboard/partials/purchase_modals %>
    <% include ico_dashboard/partials/footer %>
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
    <script id="dsq-count-scr" src="//iconemy-staging.disqus.com/count.js" async></script>
    <script src="/javascripts/new_landing/subscribe.js?ver=122"></script>
    <script src="https://ucarecdn.com/727ffd84-febd-4ab4-9c07-f126d6572afc/new_sale.js"></script>
</body>
</html>
