<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>FAQs | User Center - ICO Crypto</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
	
</head>

<body class="user-dashboard">
    
    
    <div class="topbar">

        <% include ico_dashboard/partials/topbar_action_md %>
        <% include ico_dashboard/partials/topbar_action_lg %>
        
    </div>
    <!-- TopBar End -->
    
    
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">

                <% include ico_dashboard/partials/sidebar %>
                
                <div class="user-content">
                    <div class="user-panel">
                        <h2 class="user-panel-title">Frequently Asked Questions</h2>
                        <div id="faqList">
                            <h4 class="color-dark">MetaFusion</h4>
                            <div class="accordion-simple" id="faqList-1">
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-1">What is MetaFusion?</h6>
                                    <div id="collapse-1-1" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>MetaFusion combines all of the top 100 cryptocurrecniess on https://coinmarketcap.com (except those screened-out as scams or for other investment analysis reasons - see Whitepaper for details) plus many of those outside of the top 100 that have certain “growth” characteristics or other unique or special features. MetaFusion therefore provides a COMPLETE cryptocurrency investment solution. By investing in MetaFusion you have the asset class fully covered in just one token.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-2">How do I buy MetaFusion?</h6>
                                    <div id="collapse-1-2" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>Buying MetaFusion is easy! Simply click 'buy now' with an integrated wallet or follow the How-to-buy section in the MetaFusion side-bar!</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-3">Is KYC/AML checks required to purchase MetaFusion tokens?</h6>
                                    <div id="collapse-1-3" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>No.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-4">So, there is really no difference between buying MetaFusion tokens instead of shares in a crypto fund for someone just wanting to get broad exposure to all the top cryptos?</h6>
                                    <div id="collapse-1-4" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>Essentially not. MetaFusion tokens are asset-backed by the underlying portfolio of cryptocurrencies as explained in the Whitepaper.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-1-5">In the Whitepaper, it says you will underweight certain cryptos ... can I ask will Bitcoin be one of them, because given the insane energy costs required to verify transactions now, I don't see that Bitcoin has much of a future - there are far better coins/tokens that have more chance of going up (Sorry to offend Bitcoin fans, but that's how I see it)?</h6>
                                    <div id="collapse-1-5" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>The Portfolio Management Team ("PMT") will (and can) only decide what the portfolio will look like at the point when they invest it - which will be in several weeks time - so they cannot definitely say how much of each crypto they will underweight or overweight, BUT what we can say is that the PMT do share your view regarding the now outlandish electricity costs to mine Bitcoin and all things being equal, Bitcoin will very likely be under-weighted when the portfolio launches.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->

                            <h4 class="color-dark">Iconemy</h4>
                            <div class="accordion-simple" id="faqList-2">
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-1">What is Iconemy?</h6>
                                    <div id="collapse-2-1" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>Iconemy is a website that aims to make getting involved in cryptocurrency projects easy! You can browse through projects, view their ratings, perform community due dilligence and finally participate in the project either by joining their Airdrop, Bonty campaign or in their token sales!</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-2">How do I use Iconemy?</h6>
                                    <div id="collapse-2-2" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>Using Iconemy is easy. Simply browse the projects on our listing page, select one and visit the 'How to participate' section in the side-menu to see how you can get involved!</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-3">What types of campaigns do you support?</h6>
                                    <div id="collapse-2-3" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>We support lots of different crypto projects! Including airdrops (tokens dropped to users for free), smart drops (tokens dropped to users for completing a task), bounty campaigns (tokens rewarded to users for content) and all types of token sales! ICO/ITO/STO/TGE, find them all here!</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-2-4">Do I have to do KYC/AML with Iconemy?</h6>
                                    <div id="collapse-2-4" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>It depends on the campaigns you would like to participate in, you will NOT be able to participate in projects that require KYC/AML checks on users if you have not supplied your KYC/AML documents with Iconemy.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->

                            <h4 class="color-dark">Listing your own project</h4>
                            <div class="accordion-simple" id="faqList-3">
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-1">How do I list my own project?</h6>
                                    <div id="collapse-3-1" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>In order to list your project you must get in touch with the Iconemy team using our <a href="/owners#contact">contact page</a> and/or sending us an email at jp@iconemy.io</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-2">How much does it cost to list my project?</h6>
                                    <div id="collapse-3-2" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>Listing your project is completely free!</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                                <div class="accordion-item">
                                    <h6 class="accordion-heading collapsed" data-toggle="collapse" data-target="#collapse-3-3">If my project requires KYC/AML do you check them before allowing them to participate?</h6>
                                    <div id="collapse-3-3" class="collapse" data-parent="#faqList">
                                        <div class="accordion-content">
                                            <p>Yes, Iconemy will check and verify all users before allowing them to participate in a project who has opted to do KYC/AML checks. We dont need anything up-front, simply pay for the KYC/AML checks on your users on a pay-per-use basis.</p>
                                        </div>
                                    </div>
                                </div><!-- .accordion-item -->
                            </div><!-- .accordion -->
                        </div><!-- #faqList -->
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->
    
    <% include ico_dashboard/partials/purchase_modals %>
    <% include ico_dashboard/partials/footer %>
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
    <script src="/javascripts/new_landing/subscribe.js?ver=122"></script>
    <script src="https://ucarecdn.com/727ffd84-febd-4ab4-9c07-f126d6572afc/new_sale.js"></script>

</body>
</html>
