<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>How To | User Center - ICO Crypto</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
	
</head>

<body class="user-dashboard">
    
    
    <div class="topbar">

        <% include ico_dashboard/partials/topbar_action_md %>
        <% include ico_dashboard/partials/topbar_action_lg %>

    </div>
    <!-- TopBar End -->
    
    
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">

                <% include ico_dashboard/partials/sidebar %>
                
                <div class="user-content">
                    <div class="user-panel">
                        <h2 class="user-panel-title">How to use Iconemy</h2>
                        <div class="user-panel-content">
                            <p>Investing into ICOs has never been easier. Follow these 3 simple steps to get going!</p>
                            <div class="gaps-3x"></div>
                            <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                                <!-- <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/nO8RRutn8uo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                            <!-- </div> -->
                            <h3>Step 1 : Create a compatible ERC-20 wallet</h3>
                            <p>In order to keep the tokens you collect from your favourite campaigns, you must use an ERC-20 compatibale wallet. A few recomendations from the Iconemy team are:</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="https://metamask.io" target="_blank"><span><img src="/images/metamask_list_image.png" class="list_image"></span>MetaMask (Desktop)</a></li>
                                        <li><a href="https://wallet.coinbase.com/" target="_blank"><span><img src="/images/coinbase_wallet_image.png" class="list_image"></span>Coinbase wallet (Mobile)</a></li>
                                        <li><a href="https://trustwallet.com" target="_blank"><span><img src="/images/trust_wallet_image.png" class="list_image"></span>Trust wallet (Mobile)</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="https://mewconnect.myetherwallet.com/#/" target="_blank"><span><img src="/images/mew_wallet_image.png" class="list_image"></span>MEW Connect (Mobile)</a></li>
                                        <li><a href="https://trezor.io/" target="_blank"><span><img src="/images/trezor_wallet_image.png" class="list_image"></span>Trezor (Hardware)</a></li>
                                        <li><a href="https://www.ledger.com/" target="_blank"><span><img src="/images/ledger_wallet_image.png" class="list_image"></span>Ledger (Hardware)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gaps-3x"></div>
                            <p>Create a wallet and enter your new wallet address here:</p>
                            <div class="tranx-payment-info">
                                <span class="tranx-copy-feedback copy-feedback"></span>
                                <em class="fab fa-ethereum"></em>
                                <input type="text" id="create_Wallet_input" class="tranx-payment-address" placeholder="0x4156d3342d5c385a87d264f90653733592000581">
                            </div><!-- .tranx-payment-info --><!-- @updated on v1.0.1 -->
                            <br>
                            <button class="btn btn-lg btn-success stretched_button" id="create_address_submit_btn">Submit</button>
                            <div class="gaps-3x"></div>
                            <h3>Step 2 : Buy Ether</h3>
                            <p>Ether is the currency used by the Ethereum Blockchain, you will need to purchase this in order to purchase tokens from ICOs on Iconemy.</p>
                            <p>Make sure to copy your ETH address before you click exchange to speed up your buying process!</p>

                            <div class="tranx-payment-info">
                                <span class="tranx-copy-feedback copy-feedback"></span>
                                <em class="fab fa-ethereum"></em>
                                <input type="text" class="tranx-payment-address" value="0x4156d3342d5c385a87d264f90653733592000581" id="wallet_address" disabled>
                                <button class="tranx-payment-copy copy-clipboard-modal" data-clipboard-text="0x4156d3342d5c385a87d264f90653733592000581"><em class="ti ti-files"></em></button>
                            </div><!-- .tranx-payment-info --><!-- @updated on v1.0.1 -->
                            <br><br>

                            <iframe src="https://changelly.com/widget/v1?auth=email&from=USD&to=ETH&merchant_id=38x0pi1xviqkj2hq&address=0xCcAafb81A643F636D6df882c1Ea5f7f964efb7fF&amount=25&ref_id=38x0pi1xviqkj2hq&color=006edd" width="600" height="500" class="changelly" scrolling="no" style="overflow-y: hidden; border: none" id="desktop_pay_btn"> Can't load widget </iframe>


                            <script type="text/javascript">
                                function open_widget(a, e) {
                                    e.preventDefault();
                                    var link = a.href;
                                    window.open(link, 'Changelly', 'width=600,height=470,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');
                                    return false;
                                }
                            </script>
                            <a onclick="open_widget(this, event);" href="https://changelly.com/widget/v1?auth=email&from=USD&to=ETH&merchant_id=38x0pi1xviqkj2hq&address=&amount=25&ref_id=38x0pi1xviqkj2hq&color=0528fd" id="mobile_pay_btn">
                                <img src="https://changelly.com/pay_button_buy_sell.png" alt="Changelly" />
                            </a>
    
                            <div class="gaps-3x"></div>
                            <div class="gaps-3x"></div>
                            <h3>Step 3 : Buy tokens from an ICO</h3>
                            <p>All set! Now all you have to do is click 'Buy now' on the token sales listed on Iconemy! As you were looking at metafusion, would you like to buy those tokens now?</p>
                            <a href="/ico/dashboard" class="btn btn-lg btn-success stretched_button">Click here to buy MTF</a>

                        </div>

                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->

    <% include ico_dashboard/partials/purchase_modals %>
    
    <% include ico_dashboard/partials/footer %>
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
    <script src="/javascripts/new_landing/subscribe.js?ver=122"></script>
    <script src="/ico_dashboard/js/how_to_view.js?ver=122"></script>
    <script src="https://ucarecdn.com/727ffd84-febd-4ab4-9c07-f126d6572afc/new_sale.js"></script>

</body>
</html>
