<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <% include partials/google_tag_manager %>
    <% include partials/header_investors %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
	
</head>

<body class="user-ath">
    <% include partials/google_tag_manager_body %>
   
   <div class="user-ath-page">
       <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 text-center">
                    <div class="user-ath-logo">
                        <a href="#">
                            <img src="/images/Iconemy_just_name_white_bg.png" alt="logo" srcset="/images/Iconemy_just_name_white_bg.png" id="site_logo_img">
                        </a>
                    </div>
                    <div class="gaps-2x"></div>
                        <div class="form-note">
                            Not a member? <a href="/ico/dashboard/signup">Sign up now</a>
                        </div>
                    <div class="gaps-2x"></div>
                    <div class="user-ath-box">
                        <h4>Request Your Password</h4>
                        <form action="#" class="user-ath-form">
<!--
                            <div class="note note-lg note-no-icon note-danger">
                                <p>There is no account with this email.</p>
                            </div>
                            <div class="note note-lg note-no-icon note-success">
                                <p>Password recovery instruction sent to your email, Please check.</p>
                            </div>
-->
                            <div class="input-item">
                                <input type="text" placeholder="Your Email" class="input-bordered">
                            </div>
                            <div class="gaps"></div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Reset</button>
                                <span> <a href="/ico/dashboard/login" class="simple-link"><em class="ti ti-arrow-right"></em> Login Here</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
</body>
</html>
