<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>User Center - ICO Crypto</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
	
</head>

<body class="user-dashboard">
    
    
    <div class="topbar">

        <% include ico_dashboard/partials/topbar_action_md %>
        <% include ico_dashboard/partials/topbar_action_lg %>

    </div>
    <!-- TopBar End -->
    
    
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">

                <% include ico_dashboard/partials/sidebar %>
                
                <div class="user-content">
                    <div class="user-panel">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/ico_dashboard/images/metafusion_cover.png" id="metafusion_cover">
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <h1 class="mobile_center_text" id="project_name">MetaFusion <span class="token_abbrev">MTF</span></h1>
                                <p id="project_time_left" data-date="2018-11-25 15:32:27.853Z" class="mobile_center_text countdown-clock">22<span class="time_unit">d</span> 16<span class="time_unit">h</span> 17<span class="time_unit">m</span> 32<span class="time_unit">s</span></p>
                                <ul class="share-links mobile_center_text">
                                    <li><a href="https://www.metafusion.io" target="_blank"><em class="ti ti-world"></em></a></li>
                                    <li><a href="https://www.instagram.com/MetaFusionToken/" target="_blank"><em class="fab fa-instagram"></em></a></li>
                                    <li><a href="https://twitter.com/MetaFusionToken" target="_blank"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="" target="_blank"><em class="fab fa-github"></em></a></li>
                                    <li><a target="_blank" href="https://docs.wixstatic.com/ugd/ed187e_489cc070bbc74664b100d7906b5e94f1.pdf"><em class="ti ti-files"></em></a></li>
                                </ul><!-- .share-links -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="row">
                            <div class="col-12 tags_section">
                                <div class="dashboard_tags">
                                    <ul>
                                        <li><a href="#" class="tag">ethereum</a></li>
                                        <li><a href="#" class="tag">erc-20</a></li>
                                        <li><a href="#" class="tag">investment</a></li>
                                        <li><a href="#" class="tag">fund</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="tile-item tile-index">
                                    <!-- <div class="tile-bubbles"></div> -->
                                    <h6 class="tile-title_index">Total to drop</h6>
                                    <h1 class="tile-info_index">100,000 MTF</h1>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="tile-item tile-index">
                                    <!-- <div class="tile-bubbles"></div> -->
                                    <h6 class="tile-title_index">Total dropped</h6>
                                    <h1 class="tile-info_index"><span id="tokens-sold"></span> MTF</h1>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->    
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="tile-title_index">Join smartdrop</h6>
                                <h1 class="tile-info_index"><span id="tokens-sold">10</span> MTF</h1>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-success">Join</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="tile-title_index">Follow on twitter</h6>
                                <h1 class="tile-info_index"><span id="tokens-sold">20</span> MTF</h1>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-success">Join</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="tile-title_index">Like on facebook</h6>
                                <h1 class="tile-info_index"><span id="tokens-sold">20</span> MTF</h1>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-success">Join</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="tile-title_index">Join telegram</h6>
                                <h1 class="tile-info_index"><span id="tokens-sold">30</span> MTF</h1>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-success">Join</button>
                            </div>
                        </div>
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->
    
    <% include ico_dashboard/partials/purchase_modals %>
    <% include ico_dashboard/partials/footer %>
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
    <script src="https://ucarecdn.com/727ffd84-febd-4ab4-9c07-f126d6572afc/new_sale.js"></script>
</body>
</html>
