<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Softnio">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>User Center - ICO Crypto</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
    <link rel="stylesheet" href="/ico_dashboard/css/transactions.css?ver=101">
	
</head>

<body class="user-dashboard">
    
    <div class="topbar">

        <% include ico_dashboard/partials/topbar_action_md %>
        <% include ico_dashboard/partials/topbar_action_lg %>

    </div>
    <!-- TopBar End -->
    
    
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">

                <% include ico_dashboard/partials/sidebar %>
                
                <div class="user-content">
                    <div class="user-panel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="tile-item tile-primary">
                                    <div class="tile-bubbles"></div>
                                    <h6 class="tile-title"><%= project.token.name %> BALANCE</h6>
                                    <h1 class="tile-info"><span class="balance_num" data-price="<%= crowdsales[current_sale_index].token_price %>"></span> <%= project.token.abbreviation %></h1>
                                </div>
                            </div><!-- .col -->
                            <div class="col-md-6">
                                <div class="tile-item tile-light">
                                    <div class="tile-bubbles"></div>
                                    <h6 class="tile-title">YOUR CONTRIBUTION</h6>
                                    <ul class="tile-info-list">
                                        <li><span class="balance_eth"></span>ETH</li>
                                        <li><span class="balance_usd"></span>USD</li>
                                    </ul>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->

                        <!-- if there is no transaction you can use this code -->
<!--                         <div class="status status-empty">
                            <div class="status-icon">
                                <em class="ti ti-wallet"></em>
                                <div class="status-icon-sm">
                                    <em class="ti ti-close"></em>
                                </div>
                            </div>
                            <span class="status-text">You have no transactions! Make one here.</span>
                            <a href="tokens.html" class="btn btn-primary" data-toggle="modal" data-target="#tranxETH" >Contribute Now</a>
                        </div> -->
                        
                        <table class="data-table tranx-table">
                            <thead>
                                <tr>
                                    <th class="tranx-status"></th>
                                    <th class="tranx-no"><span>TNX NO</span></th>
                                    <th class="tranx-token"><span>Tokens</span></th>
                                    <th class="tranx-amount"><span>Amount</span></th>
                                    <th class="tranx-from"><span>From</span></th>
                                    <th class="tranx-action"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tranx-status tranx-status-approved"><span class="d-none">Approved</span><em class="ti ti-check"></em></td>
                                    <td class="tranx-no"><span>ICIYOW0102</span>08 Jul, 18  10:20PM</td>
                                    <td class="tranx-token"><span>+5,600</span>ICOX</td>
                                    <td class="tranx-amount"><span>56.00</span>ETH <em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="1 ETH = 100 ICOX"></em></td>
                                    <td class="tranx-from"><span>1F1t....4xqX</span>08 Jul, 18  10:20PM</td>
                                    <td class="tranx-action">
                                        <a href="#" data-toggle="modal" data-target="#tranxApproved"><em class="ti ti-more-alt"></em></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tranx-status tranx-status-pending"><span class="d-none">Pending</span><em class="ti ti-alert"></em></td>
                                    <td class="tranx-no"><span>IDIYOW0102</span>08 Jul, 18  10:20PM</td>
                                    <td class="tranx-token"><span>+5,600</span>ICOX</td>
                                    <td class="tranx-amount"><span>56.00</span>ETH <em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="1 ETH = 100 ICOX"></em></td>
                                    <td class="tranx-from"><span>1F1t....4xqX</span>08 Jul, 18  10:20PM</td>
                                    <td class="tranx-action">
                                        <a href="#" data-toggle="modal" data-target="#tranxPending"><em class="ti ti-more-alt"></em></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                        
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->

    <% include ico_dashboard/partials/purchase_modals %>
    <% include ico_dashboard/partials/footer %>    
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
    <script src="/javascripts/new_landing/subscribe.js?ver=122"></script>
    <script src="<%= js_file_url %>"></script>

</body>
</html>
