.error-message {
    display: none;
    height: 50px;
    position: fixed;
    top: 75px;
    width: 100%;
    background-color: red;
    z-index: 100;
    text-align: center;
    line-height: 50px;
}

.error-message p {
	color: white;
}