<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/images/Iconemy_logo_white_bg.png" alt="Iconemy" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="/admin">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>
                <li class="">
                    <a href="/admin/projects">
                        <i class="fas fa-chart-bar"></i>Projects
                    </a>
                </li>
                <li>
                    <a href="/admin/users">
                        <i class="fas fa-table"></i>Users
                    </a>
                </li>
                <li>
                    <a href="/admin/blog"><i class="fas fa-adjust"></i>Blog</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>