#mainnav {
    background-color: #4159FB;
}

#mainnav a {
    color: #fff;
}

#mainnav .btn {
    border-color: #fff;
}

.animated_header {
    visibility: visible !important;
}

.navbar-toggler {
    background: transparent;
}

@media only screen and (max-width: 350px) { 
	.site-header .navbar-brand img { max-height: 30px; }
}
