#page-title {
    color: #524F4F;
}

#mainnav {
    background-color: #4159FB;
}

#mainnav a {
    color: #fff;
}

#mainnav .btn {
    border-color: #fff;
}

/* New project card */

#new_project {
	height: 100%;
	background-color: #fff;
	border-color: #4159FB;
	border-width: 1px;
}

#new_project h1 {
	text-align: center;
	font-size: 150px;
	color: #4159FB;
}

#new_project p {
	text-align: center;
	font-size: 25px;
	margin-top: -25px;
	color: #4159FB;
}

/* Project cards*/

.card {
	margin-top: 50px;
}

.card {
	height: 100%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-width: 0px;
}

@media only screen and (max-width: 991px) { .project { padding-top: 20px; } }

@media only screen and (max-width: 482px) { #page-title { font-size: 35px; } #top_project { padding-top: 0px; } }


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card .container {
	padding: 0px 0px 0px 0px;
}

.card img {
	/* Only top border radius */
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px; 
	width: 100%;
	object-fit: cover;
	max-height: 180px;
}

.card .title {
	padding: 10px 0px 0px 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 22px;
	color: #524F4F;
}

.card p {
	padding: 0px 10px;
	font-size: 14px;
	color: #524F4F;
	text-align: left;
}

@media only screen and (min-width: 991px) { .card p { font-size: 13px; } }

/* Footer */
#footers {
	position: relative;
	margin-top: 10%;
}

@media only screen and (max-width: 770px) { #footers { margin-top: 0px; } }
@media only screen and (max-width: 400px) { #footers { margin-top: 0px; } }
