    <!-- Start Section -->
    <div class="footer-fix" id="footers">
        <div class="container footer_container">
            <div class="row" id="footer">
                <div class="col-sm-6 col-xl-4 res-l-bttm">
                    <a class="footer-brand" href="./">
                        <img class="logo logo-light" alt="logo" src="/images/Iconemy_just_name_white_bg.png" style="width: 80%; height: auto;">
                    </a>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/Iconemy-701394043551477/"><em class="fab fa-facebook-f footer_social"></em></a></li>
                        <li><a href="https://twitter.com/iconemy"><em class="fab fa-twitter footer_social"></em></a></li>
                        <li><a href="https://www.linkedin.com/company/iconemy"><em class="fab fa-linkedin-in footer_social"></em></a></li>
                        <li><a href="https://medium.com/iconemy"><em class="fab fa-medium-m footer_social"></em></a></li>
                        <li><a href="https://t.me/joinchat/IJF73BLEOjOF-GgiL_-tqg"><em class="fab fa-telegram-plane footer_social"></em></a></li>
                    </ul>
                </div><!-- .col  -->
                <div class="col-sm-6 col-xl-4 res-l-bttm">
                    <div class="footer-subscription">
                        <h6>Subscribe to Iconemy now!</h6>
                            
                        <div id="subscribe-form" class="subscription-form">
                            <input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" id="email_input" data-page="investors">
                            <button type="submit" class="btn btn-plane" id="signup_btn">Sign up</button>
                            <div class="subscribe-results">
                                <div class="alert alert-success" id="success_box" style="display: none;">
                                     <p id="success_message"></p>
                                </div>
                                <div class="alert alert-danger" id="error_box" style="display: none;">
                                  <p id="error_message"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- .col  -->
                <div class="col-xl-4">
                    <ul class="link-widget">
                        <li><a href="#" class="menu-link">Projects</a></li>
                        <li><a href="#" class="menu-link">Blog</a></li>
                        <li><a href="#" class="menu-link">Join Us</a></li>
                        <li><a href="#" class="menu-link">Contact</a></li>
                        <li><a href="#" class="menu-link">FAQ</a></li>
                    </ul>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <div class="gaps size-2x"></div>
            <div class="row">
                <div class="col-md-7">
                    <span class="copyright-text">
                        <span>All trademarks and copyrights belong to their respective owners.</span>
                    </span>
                </div><!-- .col  -->
                <div class="col-md-5 text-right mobile-left">
                    <ul class="footer-links">
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms &amp; Conditions</a></li>
                    </ul>
                </div><!-- .col  -->
            </div><!-- .row  -->
        </div><!-- .container  -->
    </div>
    <!-- End Section -->