                        <li class="dropdown topbar-action-item topbar-action-user">
                            <a href="#" data-toggle="dropdown"> <img class="icon" src="/ico_dashboard/images/user-thumb-sm.png" alt="thumb"> </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                            <h6 class="user-dropdown-name">Jack Pickering</h6>
                                            <span class="user-dropdown-email">jp@iconemy.io</span>
                                    </div>
                                    <div class="user-dropdown-balance">
                                            <h6>MTF BALANCE</h6>
                                            <h3><span id="balance_num"></span> MTF</h3>
                                            <ul>
                                                <li>1.240 BTC</li>
                                                <li>19.043 ETH</li>
                                                <li>6,500.13 USD</li>
                                            </ul>
                                    </div>
                                    <div class="gaps-1x"></div>
                                    <ul class="user-dropdown-links">
                                        <li><a href="/ico/dashboard/account"><i class="ti ti-id-badge"></i>My Profile</a></li>
                                        <li><a href="/"><i class="ti ti-lock"></i>Iconemy home</a></li>
                                    </ul>
                                    <ul class="user-dropdown-links">
                                        <li><a href="/logout"><i class="ti ti-power-off"></i>Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li><!-- .topbar-action-item -->