        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="topbar-lg d-none d-lg-block">
                    <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="/images/Iconemy_just_name_white_bg.png" alt="logo" srcset="/images/Iconemy_just_name_white_bg.png" id="site_logo_img">
                        </a>
                    </div><!-- .site-logo -->
                </div><!-- .topbar-lg -->

                <div class="topbar-action d-none d-lg-block">
                    <ul class="topbar-action-list">
<!--                         <div id="google_translate_element"></div>
                        <script type="text/javascript">
                        function googleTranslateElementInit() {
                          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, gaTrack: true, gaId: 'UA-127678906-1'}, 'google_translate_element');
                        }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
                        <li class="topbar-action-item topbar-action-link">
                            <a href="#"><em class="ti ti-home"></em> Go to main site</a>
                        </li><!-- .topbar-action-item -->

                        <!-- <li class="dropdown topbar-action-item topbar-action-language"> -->
                            <!-- <a href="#" data-toggle="dropdown"> EN <em class="ti ti-angle-down"></em> </a> -->
                            <!-- <ul class="dropdown-menu"> -->
                                <!-- <li><a href="#">FR</a></li> -->
                                <!-- <li><a href="#">JY</a></li> -->
                                <!-- <li><a href="#">CH</a></li> -->
                            <!-- </ul> -->
                        <!-- </li> -->

                        <li class="dropdown topbar-action-item topbar-action-user">
                            <a href="#" data-toggle="dropdown"> <img class="icon" src="/ico_dashboard/images/user-thumb-sm.png" alt="thumb"> </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                            <h6 class="user-dropdown-name">Jack Pickering</h6>
                                            <span class="user-dropdown-email">jp@iconemy.io</span>
                                    </div>
                                    <div class="user-dropdown-balance">
                                            <h6>MTF BALANCE</h6>
                                            <h3><span id="balance_num"></span> MTF</h3>
                                            <ul>
                                                <li>1.240 BTC</li>
                                                <li>19.043 ETH</li>
                                                <li>6,500.13 USD</li>
                                            </ul>
                                    </div>
                                    <div class="gaps-1x"></div>
                                    <ul class="user-dropdown-links">
                                        <li><a href="/ico/dashboard/account"><i class="ti ti-id-badge"></i>My Profile</a></li>
                                        <li><a href="/"><i class="ti ti-lock"></i>Iconemy home</a></li>
                                    </ul>
                                    <ul class="user-dropdown-links">
                                        <li><a href="/logout"><i class="ti ti-power-off"></i>Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li><!-- .topbar-action-item -->

                    </ul><!-- .topbar-action-list -->
                </div><!-- .topbar-action -->
            </div><!-- .d-flex -->
        </div><!-- .container -->