                                                <% project.crowdsales.forEach(function(sale, i) { %>
                                                    <div class="crowdsales" id="sale_<%= sale.index %>" style="display: none;">
                                                        
                                                        <div  class="status" style="background-color: <%= project.sale_status.color %>"><%= project.sale_status.message %></div>

                                                        <h3><%= sale.name %> details</h3>

                                                        <!-- Sale table -->
                                                        <% include partials/sale_details %>

                                                        <!-- If the sale has been deployed - show the status of the smart contracts -->

                                                        <% if(sale.deployed == 'Done'){ %>

                                                            <h3>Contract</h3>

                                                            <!-- Sale contract table -->
                                                            <% include partials/sale_contract_details %>

                                                        <!-- Else, if the sale has been paid for and needs deploying - show the form for setting the smart contracts as deployed -->

                                                        <% } else if (sale.deployed == 'Deploying') { %>
                                                            
                                                            <h3>Deployment form</h3>

                                                            <!-- Sale contract deployment form -->
                                                            <% include partials/sale_contract_form %>

                                                        <% } %>

                                                        <!-- If the statuses are either deployed or deploying then the user must have successfully paid for the project, so show the payment details -->

                                                        <% if(sale.deployed == 'Done' || sale.deployed == 'Deploying'){ %>

                                                            <h3>Payment</h3>
                                                        
                                                            <!-- Token payment details -->
                                                            <% include partials/sale_payment_details %>

                                                        <% } %>

                                                    </div>
                                                <% }); %>