{"project":
    {"_id":"5b9a748d3614a70016aa07cc",
    "name":"Project Beta",
    "description":"This is a beta project held on the staging platform to show that we can use all the features we need.",
    "website":"www.beta.io",
    "subdomain":"beta",
    "logo":"https://ucarecdn.com/4643cd78-23c3-4fd8-a371-9314c17ba9be/-/crop/953x636/148,86/-/preview/",
    "created":"2018-09-13T14:30:37.451Z",
    "createdBy":"auth0|5b9a73c072d4bb47f9a6f2e4",
    "social":{"_id":"5b9a748d3614a70016aa07cd",
    "facebook":"https://www.facebook.com/ax1mining",
    "twitter":"",
    "youtube":"",
    "telegram":"",
    "bitcointalk":"",
    "medium":"https://www.medium.com/@AX1mining"},
    "onepager":"www.beta.io.op",
    "whitepaper":"www.beta.io/wp",
    "crowdsales":[
        {"pricingMechanism":"linear",
        "deployed":"Deploying",
        "showprogress":true,
        "emails":[],
        "_id":"5b9a75c83614a70016aa07ea",
        "name":"Beta sale",
        "status":"Not started",
        "start":"2018-09-13T15:45:00.000Z",
        "end":"2018-10-13T15:45:00.000Z",
        "initialPrice":0.0012,
        "public":true,
        "commission":5,
        "admin":"0x34afc2e7bf0e576c6bcc2577fa671c251ec80996",
        "beneficiary":"0x34afc2e7bf0e576c6bcc2577fa671c251ec80996",
        "created":"2018-09-13T14:35:52.513Z",
        "createdBy":"auth0|5b9a73c072d4bb47f9a6f2e4",
        "discount_code":"",
        "index":0}],
    "__v":0,
    "token":{
        "deployed":"Deploying",
        "_id":"5b9b84a3c6db0a00150dcbd7",
        "name":"Beta Token",
        "symbol":"BTA",
        "decimals":5,
        "owner":"0xe68F9Fb49Af0E46cD0B0c45569b6907a52F8DE03",
        "logo":"https://ucarecdn.com/c1d6ea52-7a38-428d-a0d0-315b783dd7a7/-/crop/246x246/87,10/-/preview/",
        "created":"2018-09-13T14:34:03.509Z",
        "createdBy":"auth0|5b9a73c072d4bb47f9a6f2e4",
        "discount_code":"",
        "payment":{
            "_id":"5b9b84a3c6db0a00150dcbd8",
            "currency":"eth",
            "amount":2.4574508500000003,
            "created":"2018-09-13T14:34:08.187Z",
            "createdBy":"auth0|5b9a73c072d4bb47f9a6f2e4",
            "ethWallet":{
                "_id":"5b9b84a3c6db0a00150dcbd9",
                "seed":"g3PYGx4zJVr9XNnxsx0EmFR0f70mhRFIvZyc86vXzaXt++Rq/Hhi0M6MGKTVTKlBeeALUUDHMG0Tko61pRge4jOG+rKEVaj4iypQynR2fQrOI/UIM2Z9w7CBG4HHNM/4F6foOpPDHisB3KN7xDtuiSQgSkvgrJIqYs8hlhekLoxHn77yiYUREv4y9zyu+nTbi8NIvEbsFy+TpFVb7nt9D6bDJBTQfJAk6puu1w2+UreBlQv3ev1mpF/29WrisyYX2nf+/F0QicHK2SrMvVqXWNwKlT3IOmAGkdkCu43zIsaquHXOW5TXuwr6P7HzVVQni2fWDktY0OiKfRcgtT5fWg==",
                "address":"0x34afc2e7bf0e576c6bcc2577fa671c251ec80996"
            },
            "paid":"2018-09-13T14:35:09.127Z"
            }
    },
    "token_status":{"message":"needs deploying","color":"#0007FF"},
    "sale_status":{"message":"needs payment","color":"#F09300"}
  }
}
