@media only screen and (max-width: 991px) {

	.navbar-toggler, .navbar-toggler:hover {
		background: transparent;
		color: #fff;
	}

	.theme-light .navbar-collapse:after {
		background-image: linear-gradient(to bottom, #111548 100%, #111548 100%);
	}

}