<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Header -->
        <% include partials/google_tag_manager %>
        <% include partials/header %>

        <link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/stylesheets/style.css?ver=122">
        <link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
        
        <!-- Lead Style -->
        <link href="/stylesheets/blog/style.css?ver=122" rel="stylesheet" type="text/css">
        <link href="/stylesheets/blog_custom.css?ver=122" rel="stylesheet" type="text/css">
    </head>

    <body>
    <% include partials/google_tag_manager_body %>
    <% include partials/hubspot_chatbot %>

        <!-- Header --> 
        <header class="site-header is-sticky has-fixed">
            <!-- Navbar -->
            <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
                <nav class="container">  
                    <a class="navbar-brand animated_header" data-animate="fadeInDown" data-delay=".65" href="/blog">
                        <img class="logo logo-light" alt="logo" src="/images/blog_logo.png">
                    </a>
                            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                        <span class="navbar-toggler-icon">
                            <span class="ti ti-align-justify"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                        <ul class="navbar-nav animated_header remove-animation" data-animate="fadeInDown" data-delay=".9">
                            <li class="nav-item"><a class="nav-link menu-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link menu-link" href="/#subscribe">Subscribe</a></li>
                            <li class="nav-item"><a class="nav-link menu-link" href="/#contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Navbar -->
        </header>

        <div class="main-wrapper">
            <section class="inner-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8 main-content">
                            <div class="blog-list">
                                <article class="blog_post post-box">
                                    <div class="post_header">
                                        <h4 class="post_cat">Category : <a href="#">Academy</a></h4>
                                        <h2 class="post_title">Why do we need cryptocurrencies?</h2>
                                    </div>
                                    <div class="post_img">
                                        <img src="/images/blog/blog/why_crypto_cover_pic.png" alt="img">
                                    </div>
                                    <div class="post_content">
                                        <div class="full_content">
                                            <p>In order for us to explain why cryptocurrencies are necessary, we must first look at why <b>traditional currencies</b> were invented in the first place.</p>

                                            <br />

                                            <h4>A long time ago, in a galaxy not so far away...</h4>

                                            <br />

                                            <p>To understand this, we need to go back to a time before we had currencies. This is a time when <b>bartering</b> was used in order to exchange goods and services. For example, an old farmer may realise that he needs a bale of hay to feed his pig, he decides to swap 1 of his chickens with for a bale of hay to feed his pig. </p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_10.png" alt="img">
                                            </div>

                                            <br />

                                            <p>In this example, the farmer now has to <b>find someone who is in need of a chicken and would like to give away a bale of hay.</b> This is a long process as there may be no one in his village that needs a chicken and willing to give hay in exchange. The farmer now has three options: look elsewhere in a distant village, swap something else for the bale of hay or swap something for the chicken (like a sword) and hope that the person owning the hay may need a metal sword. This results in wasted time and the farmer being uncertain about getting the deal that he originally wanted (swapping a chicken for the bale of hay).</p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_1.png" alt="img">
                                            </div>

                                            <br />

                                            <h4>There must an easier way?!</h4>

                                            <br />

                                            <p>In Ancient China (around 1,100 BC) coins were invented to <b>determine the value of something</b>, now the farmer knows he has a chicken that is worth 1 gold coin, he can simply sell his chicken and buy hay from the original owner for that 1 gold coin. This is a much faster process and allows him to get <b>the deal he originally wanted</b> – giving 1 chicken up in return for some hay. </p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_2.png" alt="img">
                                            </div>

                                            <br />

                                            <p>A currency is simply something which can be traded for any goods or services. The currency itself is <b>worth nothing other than the value people place on it</b> – the coin itself brings no value to anybody, which means it comes in handy when people want to use it to swap goods and services. </p>

                                            <br />

                                            <p>But, what if this farmer became so successful that he ended up with a million gold coins under his bed? If someone from a neighbouring village heard about this, they could come and steal his supply of gold coins!</p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_3.png" alt="img">
                                            </div>

                                            <br />

                                            <h4>An innocent business idea that helped secure peace</h4>

                                            <br />

                                            <p>So, businesses were created in order to store these gold coins in a safe on peoples behalf, they would issue ‘notes’ to the person to say they are entitled to that many gold coins, in the business’s safe. This allowed the farmer to <b>securely store his gold coins</b> so that he wasn’t staying up all night worrying about being robbed. These companies are better known as <b>banks.</b></p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_4.png" alt="img">
                                            </div>

                                            <br />

                                            <p>After a while, businesses began trading across borders, this made it difficult to trade as each person wanted to trade with <b>their own currency</b> (the farmer does not want to receive a red coin when everybody in his village only accepts gold coins). Banks then began storing foreign currencies to allow people to <b>exchange</b> their currencies for a fee. This allowed the farmer to trade with someone dealing in red coins and swap those red coins for gold coins in order to buy goods in his home village.</p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_5.png" alt="img">
                                            </div>

                                            <br />  

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_6.png" alt="img">
                                            </div>

                                            <p>What if the farmer was waiting on a delivery of red coins from an international trade, but was unable to pay for hay to feed his pig until it arrived? Who oversees enough money that they could potentially lend the farmer some gold coins in return for a fee? <b>The banks,</b> so banks started lending money to people for a fee and expecting them to pay this sum of money back at a certain date.</p>

                                            <br />

                                            <h4>All seemed well, until…</h4>

                                            <br />

                                            <p>Since the banks stored everybody’s money, <b>banks became extremely powerful</b>, the bargaining power of the banks increased immensely – they could charge extremely high fees for their services just for storing the gold coins on behalf of the farmer. </p>

                                            <br />

                                            <p>What’s worse, if the bank lent gold coins to a lot of people, and all of these people couldn’t pay the bank back, the bank may end up with so little coins that it is <b>unable to give any back to the farmer,</b> meaning all of his hard work had gone to waste and leaving him with no gold coins to buy hay to feed his pig!</p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_7.png" alt="img">
                                            </div>

                                            <br />

                                            <p>This was because a <b>central authority</b> (one single bank) was in charge of everybody’s money, when they screw up, the whole world gets affected!  </p>

                                            <h4>Are you ever going to tell us why cryptocurrencies are useful?</h4>

                                            <br />

                                            <p>Cryptocurrencies were invented because of this, they rely on something called DLT, ‘decentralised ledger technology’ which is a very complicated term that simply means: a way of getting everybody to agree on how many crypto-coins people own, <b>without relying on a central authority</b> (i.e. a bank or government).</p>

                                            <br />

                                            <p>DLTs allow the community to decide how many crypto-coins are owned by each person and who has traded crypto-coins to someone else. Allowing the farmer to carrying on with his business with the peace of mind that <b>nobody, other than him,</b> is in control of his crypto-coins!</p>

                                            <br />

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_8.png" alt="img">
                                            </div>

                                            <p>It also allows people to freely exchange between international borders, as the currency can be worldwide, there is no need to pay anyone to exchange your currency! The farmer can now use his crypto-coins in an international sale, knowing the business in another country can accept and use the same crypto-coins!</p>

                                            <div class="post_img">
                                                <img src="/images/blog/blog/image_9.png" alt="img">
                                            </div>

                                            <br />

                                            <h4>TL;DR</h4>

                                            <br />

                                            <p>A brief history of time showing: how currencies were used, why banks were invented and eventually, why the banking system resulted in a global depression. After the global depression, the first crypto-currency named Bitcoin was invented in order to allow people to transfer wealth without relying on a central authority. Bringing benefits such as: control over your wealth and free international payments.</p>

                                            <br />

                                            <h4>Have we missed anything? Let us know!</h4>

                                            <br />

                                            <p>Please let us know what you think of this article in the comments below. We'd really appreciate your help on how we can improve this for the masses!</p>
                                        </div>

                                        <div class="post_footer">
                                            <ul class="post_meta">
                                                <li><span class="author"><img src="/images/blog/blog/author.png" alt="author"> By <a href="#">Jack Pickering</a></span></li>
                                                <li><span class="date"><a href="#">7 November, 2018</a></span></li>
                                            </ul>

                                            <div class="post_share">
                                                <ul class="share_list">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="blog_author">
                                <img src="/images/blog/blog/author.png" alt="img">
                                <div class="blog_author_inner">
                                    <h4>Jack Pickering</h4>
                                    <h6>Founder & CEO</h6>
                                    <p>Jack has an extensive skillset in computer science and innovation. In his free time, he loves nothing more than watching football and/or designing new systems that allow us to make the world a better place.</p>
                                </div>
                            </div>

                            <div class="divider clearfix"></div>
                            
                            <div class="inner_posts">
                            <div class="row">
                                <div class="col-md-6">
                                <div class="inner-post prev_post">
                                    <img src="/images/blog/blog/blog-2.jpg" alt="img">
                                <div class="post_block">
                                    <a class="link_to" href="#">Previous Post</a>
                                    <h4><a href="#">Lorem Ipsum is simply...</a></h4>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="inner-post next_post">
                                    <img src="/images/blog/blog/blog-3.jpg" alt="img">
                                    <div class="post_block">
                                    <a class="link_to" href="#">Next Post</a>
                                    <h4><a href="#">Lorem Ipsum dumm text...</a></h4>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 sidebar">

                            <div id="recent-posts-2" class="widget widget_recent_posts">
                                <h4 class="widget_title"><span>Recent Posts</span></h4>
                                <div class="sidebar_recent_posts">
                                    <ul class="recent_posts_list">
                                        <li>
                                            <img src="/images/blog/blog/post-thumb-1.jpg" alt="insta">
                                            <div class="post_content">
                                                <h6><a href="#">Get the best quote for your service</a></h6>
                                                <p class="date">08 June, 2018</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/images/blog/blog/post-thumb-2.jpg" alt="insta">
                                            <div class="post_content">
                                                <h6><a href="#">Get the best quote for your service</a></h6>
                                                <p class="date">15 May, 2018</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/images/blog/blog/post-thumb-3.jpg" alt="insta">
                                            <div class="post_content">
                                                <h6><a href="#">Get the best quote for your service</a></h6>
                                                <p class="date">12 April, 2018</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="subscribe">
                <div class="container">
                    <div class="subscription">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="subscribe-header">
                                    <h2>Subscribe to website to get all offers available!</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <form action="subscribe.php" method="post" class="subscription-form">
                                    <div class="input-group">
                                        <div class="form-field">
                                            <input class="input-field" type="email" placeholder="Your Email Address" required>
                                        </div>
                                        <button class="button"><span class="text">Subscribe</span> <span class="icon"><i class="ion-md-arrow-forward"></i></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End Main Wrapper-->

        <footer id="footer" class="footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright">
                    </div>
                </div>
            </div>
        </footer>


        <!-- All JavaScript Files
        ================================================== -->
        <script src="/javascripts/jquery.bundle.js?ver=122"></script>
        <script src="/javascripts/vendor/bootstrap.min.js"></script>
        <script src="/javascripts/blog/isotope.pkgd.min.js"></script>
        <script src="/javascripts/blog/imagesloaded.pkgd.min.js"></script>
        <script src="/javascripts/vendor/owl.carousel.js"></script>
        <script src="/javascripts/blog/jquery.fancybox.min.js"></script>
        <script src="/javascripts/blog/menu.js"></script>
        <script src="/javascripts/blog/custom.js"></script>

    </body>
</html>

