<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/google_tag_manager %>
	<% include partials/header_owners %>
	
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/new_landing/vendor.bundle.css?ver=122">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/new_landing/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/blog_dark_custom.css?ver=122">
	
</head>

<body class="theme-dark" data-spy="scroll" data-target="#mainnav" data-offset="80">
	<% include partials/google_tag_manager_body %>
	<% include partials/hubspot_chatbot %>

	<!-- Header --> 
	<header class="site-header is-sticky">
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">

				<a class="navbar-brand" href="/owners">
					<img class="logo logo-light" alt="logo" src="/images/Iconemy_just_name_blue_bg.png" srcset="/images/new_landing/Iconemy_just_name_blue_bg.png">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link menu-link" href="/owners">What is Iconemy</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/owners#apps">Mobile app</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#">Blog<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/investors#signup">Sign up</a></li>
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/owners#contact">List ICO/ITO</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center banner banner-curb banner-particle just-curve" >
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">BLOG</h2>
						</div>
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

 
	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-list">
						<div class="row">
							<div class="col-lg-6 offset-lg-0 col-sm-6">
								<div class="blog-item">
									<div class="blog-photo"><a href="/owners/blog/why_do_we_need_cryptocurrencies"><img src="/images/new_landing/why_crypto_cover_pic.png" alt="blog-photo"></a></div>
									<div class="blog-texts">
										<ul class="blog-meta">
											<li><a href="#">9 Nov, 2018</a></li>
											<li><a href="#">Academy</a></li>
										</ul>
										<h5 class="blog-title"><a href="/owners/blog/why_do_we_need_cryptocurrencies">Why do we need cryptocurrencies?</a></h5>
										<p>An introductory story explaining the need for traditional currencies, the introduction of the banking system and why we might be moving passed it.</p>
									</div>
								</div>
							</div><!-- .col -->
							<div class="col-lg-6 offset-lg-0 col-sm-6">
								<div class="blog-item">
									<div class="blog-photo"><a href="/owners/blog/icos_arent_dead_stos_not_a_replacement"><img src="/images/new_landing/cover-photo-blog.png" alt="blog-photo"></a></div>
									<div class="blog-texts">
										<ul class="blog-meta">
											<li><a href="#">7 Nov, 2018</a></li>
											<li><a href="#">Academy</a></li>
										</ul>
										<h5 class="blog-title"><a href="/owners/blog/icos_arent_dead_stos_not_a_replacement">Whats the difference between ICOs, ITOs, STOs and TGEs?</a></h5>
										<p>Here we dissect the confusing acronyms being thrown around the industry, they're not as complicated as they're made out to be!</p>
									</div>
								</div>
							</div><!-- .col -->
							<div class="col-lg-6 offset-lg-0 col-sm-6">
								<div class="blog-item">
									<div class="blog-photo"><a href="/owners/blog/how_to_stop_ico_exit_scams"><img src="/images/new_landing/ico_exit_scams_image_small.png" alt="blog-photo"></a></div>
									<div class="blog-texts">
										<ul class="blog-meta">
											<li><a href="#">05 Nov, 2018</a></li>
											<li><a href="#">Article</a></li>
										</ul>
										<h5 class="blog-title"><a href="/owners/blog/how_to_stop_ico_exit_scams">Working together to improve the traditional ICO model</a></h5>
										<p>In this article we discuss how we can come together and self-regulate the community to reduce the risk of exit-scams!</p>
									</div>
								</div>
							</div><!-- .col -->
						</div><!-- .row -->
					</div><!-- .news-list -->
					<!-- <div class="row res-m-bttm"> -->
						<!-- <div class="col-md-12 text-center"> -->
							<!-- <ul class="page-pagination"> -->
								<!-- <li class="active"><a href="#">1</a></li> -->
								<!-- <li><a href="#">2</a></li> -->
								<!-- <li><a href="#">3</a></li> -->
								<!-- <li><a href="#">4</a></li> -->
								<!-- <li><a href="#"><em class="ti ti-arrow-right"></em></a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
					<!-- </div> -->
				</div><!-- .col -->
				<div class="col-lg-4">
				
					<div class="sidebar-section">
						<!-- <div class="sidebar-widget category"> -->
							<!-- <h5 class="sidebar-widget-title">Category</h5> -->
							<!-- <ul> -->
								<!-- <li><a href="#">Academy</a></li> -->
								<!-- <li class="active"><a href="#">Academy</a></li> -->
								<!-- <li><a href="#">Articles</a></li> -->
								<!-- <li><a href="#">Reports</a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
						<!-- <div class="sidebar-widget tags"> -->
							<!-- <h5 class="sidebar-widget-title">Tags</h5> -->
							<!-- <ul> -->
								<!-- <li><a href="#">ethereum</a></li> -->
								<!-- <li><a href="#">blockchain</a></li> -->
								<!-- <li><a href="#">tokens</a></li> -->
								<!-- <li><a href="#">ICO</a></li> -->
								<!-- <li><a href="#">ITO</a></li> -->
								<!-- <li><a href="#">smart-contracts</a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
						
						<div class="sidebar-widget cta-widget text-center" id="iconemy_ad">
							<h5 class="cta-head">We make ICOs easy!</h5>
							<p>Sign up to Iconemy, do KYC once and invest in ICO/ITOs in minutes!</p>
							<a href="/owners#signup" class="btn btn-plane btn-alt">Subscribe now</a>
						</div><!-- .sidebar-widget -->
						
					</div><!-- .sidebar-section -->
					
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section subscribe-section section-pad-md section-bg" id="subscribe">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Don't miss out, Stay updated</h4>
					<div class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" id="email_input" data-page="owners-blog">
						
						<button type="submit" class="btn btn-plane" id="signup_btn">Sign up</button>
						<div class="subscribe-results">
							<div class="alert alert-success" id="success_box" style="display: none;">
								 <p id="success_message"></p>
							</div>
							<div class="alert alert-danger" id="error_box" style="display: none;">
							  <p id="error_message"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li><a href="https://www.facebook.com/Iconemy-701394043551477/"><em class="fa fa-facebook"></em></a></li>
						<li><a href="https://twitter.com/iconemy"><em class="fa fa-twitter"></em></a></li>
						<li><a href="https://www.linkedin.com/company/iconemy"><em class="fa fa-linkedin"></em></a></li>
						<li><a href="https://medium.com/iconemy"><em class="fa fa-medium"></em></a></li>
						<li><a href="https://t.me/joinchat/IJF73BHbGMBpktC5tTrJfA"><em class="fa fa-telegram"></em></a></li>
					</ul>
					<span class="copyright-text">
						2018, ICONEMY
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<!-- <div id="preloader"> -->
		<!-- <div id="loader"></div> -->
		<!-- <div class="loader-section loader-top"></div> -->
   		<!-- <div class="loader-section loader-bottom"></div> -->
	<!-- </div> -->
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/new_landing/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/new_landing/script.js?ver=122"></script>
	<script src="/javascripts/new_landing/subscribe.js?ver=122"></script>

</body>
</html>
