<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Header -->
        <% include partials/google_tag_manager %>
        <% include partials/header %>

        <link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/stylesheets/style.css?ver=122">
        <link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
        
        <!-- Lead Style -->
        <link href="/stylesheets/blog/style.css?ver=122" rel="stylesheet" type="text/css">
        <link href="/stylesheets/blog_custom.css?ver=122" rel="stylesheet" type="text/css">
    </head>

    <body>
    <% include partials/google_tag_manager_body %>
    <% include partials/hubspot_chatbot %>

        <!-- Header --> 
        <header class="site-header is-sticky has-fixed">
            <!-- Navbar -->
            <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
                <nav class="container">  
                    <a class="navbar-brand animated_header" data-animate="fadeInDown" data-delay=".65" href="/blog">
                        <img class="logo logo-light" alt="logo" src="/images/blog_logo.png">
                    </a>
                            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                        <span class="navbar-toggler-icon">
                            <span class="ti ti-align-justify"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                        <ul class="navbar-nav animated_header remove-animation" data-animate="fadeInDown" data-delay=".9">
                            <li class="nav-item"><a class="nav-link menu-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link menu-link" href="/#subscribe">Subscribe</a></li>
                            <li class="nav-item"><a class="nav-link menu-link" href="/#contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Navbar -->
        </header>

        <div class="main-wrapper">
            <section class="inner-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8 main-content">
                            <div class="blog-list">
                                <article class="blog_post post-box">
                                    <div class="post_header">
                                        <h4 class="post_cat">Category : <a href="#">Academy</a></h4>
                                        <h2 class="post_title">Whats the difference between an ICO,STO and TGE?</h2>
                                    </div>
                                    <div class="post_img">
                                        <img src="/images/blog/blog/blog-1.jpg" alt="img">
                                    </div>
                                    <div class="post_content">
                                        <div class="full_content">
                                            <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusadoloreLorem Ipsum is simply type setting Ipsum is simply dummy Sed ut perspiomnis iste error sit voluccusa dolordummy text of the printing and typesetting Loremsimply dummy text Sed ut perspiciatis ude voluptateLorem Ipsum is simply type formIpsum is simply dummy Sed ut persiomns iste error sit voluem accusa dolorduyiyext of the printing und voluptat accusa dolore. Sed ut perspiciatis unde omnis iste error sit voluptatem accusadolore.</p>

                                            <br />

                                            <h4>They're all the same... but different</h4>

                                            <br />

                                            <p>Ipsum is simply dummy Sed ut perspiomnis iste error sit voluccusa dolordummy text of the printing and typesetting Loremsimply dummy text Sed ut perspiciatis ude voluptateLorem Ipsum is simply type formIpsum is simply dummy Sed ut persiomns iste error sit voluem accusa dolorduyiyext of the printing accusa dolore.</p>

                                            <blockquote>At vero eos et accusamus et iusto odio dignissimos duci Curabitur accumsan, arcu ac volu tpat laoreet, elit orci pulvinar massa, quis ullamcorper purus Curabitur accumsan, arcu ac volutpat laoreet, elit orci pulvinar assa, quis ullamcorper</blockquote>

                                            <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusadoloreLorem Ipsum is simply type setting Ipsum is simply dummy Sed ut perspiomnis iste error sit voluccusa dolordummy text of the printing and typesetting Loremsimply dummy text Sed ut perspiciatis ude voluptateLorem Ipsum is simply type formIpsum is simply dummy Sed ut persiomns iste error sit voluem accusa dolorduyiyext of the printing und voluptat accusa dolore. Sed ut perspiciatis unde omnis iste error sit voluptatem accusadolore.</p>

                                            <br />

                                            <h5>Title example two</h5>

                                            <br />

                                            <p>Ipsum is simply dummy Sed ut perspiomnis iste error sit voluccusa dolordummy text of the printing and typesetting Loremsimply dummy text Sed ut perspiciatis ude voluptateLorem Ipsum is simply type formIpsum is simply dummy Sed ut persiomns iste error sit voluem accusa dolorduyiyext of the printing accusa dolore.</p>

                                            <p>Sed ut perspiciatis unde omnis iste error sit voluptatem accusadoloreLorem Ipsum is simply type setting Ipsum is simply dummy Sed ut perspiomnis iste error sit voluccusa dolordummy text of the printing and typesetting Loremsimply dummy text Sed ut perspiciatis ude voluptateLorem Ipsum is simply type formIpsum is simply dummy Sed ut persiomns iste error sit voluem accusa dolorduyiyext of the printing und voluptat accusa dolore. Sed ut perspiciatis unde omnis iste error sit voluptatem accusadolore.</p>
                                        </div>

                                        <div class="post_footer">
                                            <ul class="post_meta">
                                                <li><span class="author"><img src="/images/blog/blog/author.jpg" alt="author"> By <a href="#">Williams Earls</a></span></li>
                                                <li><span class="date"><a href="#">24 August, 2018</a></span></li>
                                            </ul>

                                            <div class="post_share">
                                                <ul class="share_list">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="blog_author">
                                <img src="/images/blog/blog/author.jpg" alt="img">
                                <div class="blog_author_inner">
                                    <h4>Arijania Trever</h4>
                                    <h6>Health & Food Blogger</h6>
                                    <p>Sed ut perspiciatis unde omptatem accus antium doloremque laudantium, totamsa ntium dolomlaudantium, totam sit.perspiciatis unde omptatem accusantium dolore mque laudantium, otamsa ntium dolomlaudantium, totam sit.</p>
                                </div>
                            </div>

                            <div class="divider clearfix"></div>
                            
                            <div class="inner_posts">
                            <div class="row">
                                <div class="col-md-6">
                                <div class="inner-post prev_post">
                                    <img src="/images/blog/blog/blog-2.jpg" alt="img">
                                <div class="post_block">
                                    <a class="link_to" href="#">Previous Post</a>
                                    <h4><a href="#">Lorem Ipsum is simply...</a></h4>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="inner-post next_post">
                                    <img src="/images/blog/blog/blog-3.jpg" alt="img">
                                    <div class="post_block">
                                    <a class="link_to" href="#">Next Post</a>
                                    <h4><a href="#">Lorem Ipsum dumm text...</a></h4>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 sidebar">

                            <div id="recent-posts-2" class="widget widget_recent_posts">
                                <h4 class="widget_title"><span>Recent Posts</span></h4>
                                <div class="sidebar_recent_posts">
                                    <ul class="recent_posts_list">
                                        <li>
                                            <img src="/images/blog/blog/post-thumb-1.jpg" alt="insta">
                                            <div class="post_content">
                                                <h6><a href="#">Get the best quote for your service</a></h6>
                                                <p class="date">08 June, 2018</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/images/blog/blog/post-thumb-2.jpg" alt="insta">
                                            <div class="post_content">
                                                <h6><a href="#">Get the best quote for your service</a></h6>
                                                <p class="date">15 May, 2018</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="/images/blog/blog/post-thumb-3.jpg" alt="insta">
                                            <div class="post_content">
                                                <h6><a href="#">Get the best quote for your service</a></h6>
                                                <p class="date">12 April, 2018</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="subscribe">
                <div class="container">
                    <div class="subscription">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="subscribe-header">
                                    <h2>Subscribe to website to get all offers available!</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <form action="subscribe.php" method="post" class="subscription-form">
                                    <div class="input-group">
                                        <div class="form-field">
                                            <input class="input-field" type="email" placeholder="Your Email Address" required>
                                        </div>
                                        <button class="button"><span class="text">Subscribe</span> <span class="icon"><i class="ion-md-arrow-forward"></i></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End Main Wrapper-->

        <footer id="footer" class="footer">
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <p> &copy; 2018 - <a href="#">moow agency</a> All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>


        <!-- All JavaScript Files
        ================================================== -->
        <script src="/javascripts/jquery.bundle.js?ver=122"></script>
        <script src="/javascripts/vendor/bootstrap.min.js"></script>
        <script src="/javascripts/blog/isotope.pkgd.min.js"></script>
        <script src="/javascripts/blog/imagesloaded.pkgd.min.js"></script>
        <script src="/javascripts/vendor/owl.carousel.js"></script>
        <script src="/javascripts/blog/jquery.fancybox.min.js"></script>
        <script src="/javascripts/blog/menu.js"></script>
        <script src="/javascripts/blog/custom.js"></script>

    </body>
</html>

