<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/header %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_styles.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_sale.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_token_form.css?ver=122">
</head>

<body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
			
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="./">
					<img class="logo logo-dark" alt="logo" src="/images/logo_dark_custom.png">
					<img class="logo logo-light" alt="logo" src="/images/logo_light_custom.png">
				</a>
				
<!-- 				<div class="language-switcher animated" data-animate="fadeInDown" data-delay=".75">
					<a href="#" data-toggle="dropdown">EN</a>
					<div class="dropdown-menu" >
						<a class="dropdown-item" href="#">FR</a>
						<a class="dropdown-item" href="#">CH</a>
						<a class="dropdown-item" href="#">BR</a>
					</div>
				</div> -->
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/projects">Projects</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="https://docs.iconemy.io">Docs</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/">Log out</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-tokensale d-flex align-items-center">
			<div class="header-angle-bg">
				<div class="overlay-bubble">
					<div class="overlay-bubble-1"></div>
					<div class="overlay-bubble-2"></div>
					<div class="overlay-bubble-3"></div>
					<div class="overlay-bubble-4"></div>
					<div class="overlay-bubble-5"></div>
					<div class="overlay-bubble-6"></div>
				</div>
				<div id="particles-js" class="particles-container particles-js"></div>
			</div>
			<div class="container">
				<div class="banner-content">
					<div class="gaps size-3x"></div>
					<div class="row align-items-center mobile-center">
						<div class="col-lg-12 text-center res-m-bttm">
							<div class="header-txt">
								<h1 class="animated token_name" data-animate="fadeInUp" data-delay="1.25">Create a token</h1>
								<p class="animated token_description"  data-animate="fadeInUp" data-delay="1.50">Enter the details of your ERC-20 token</p>
							</div>
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
				<div class="row justify-content-center text-center sale-box">
					<div class="col-lg-12">
						<div class="token-box shadow">
							<form id="token-form" class="form-message text-left" action="" method="post" role="form">
								<div class="form-row justify-content-center">
									<div class="form-group col-12">
										<div class="input-field animated token-name">
											<input name="token_name" type="text" id="token_name" class="input-line required" placeholder="My token name">
											<label class="input-title">Token name *</label>
										</div>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-lg-6 col-sm-12">
										<label class="input-title" id="logo_label">Token logo</label>

										<div id="upload_section">
											<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

											<div>
												<input type="file" id="fileselect" name="fileselect[]" />
												<div id="filedrag"><img id="upload_icon" src="/images/upload_favicon.png"><br />Drag and drop <br /> logo here.</div>
											</div>
										</div>

										<div id="uploaded_logo"></div>
									</div>
									<div class="form-group col-lg-6 col-sm-12">
										<div class="form-row">
											<div class="input-field animated">
												<input name="token_symbol" type="text" id="token_symbol" class="input-line required" placeholder="MTK">
												<label class="input-title">Token symbol *</label>
											</div>
										</div>
										<div class="form-row symbol_text">
											<p>Your token symbol AKA 'ticker' is the <b>abbreviated version</b> of your token name. This will show up on exchanges and listing sites.<br />I.e. Bitcoin -> BTC</p>
										</div>
									</div>
								</div>

								<div class="form-row decimal_row">
									<div class="form-group col-lg-4 col-sm-12">
										<div class="input-field animated">
											<input name="token_decimals" type="number" class="input-line required" id="token_decimals" min=0 placeholder="5">
											<label class="input-title">Token decimals *</label>
										</div>
									</div>
									<div class="form-group col-lg-8 col-sm-12">
										<p id="min_message">The minimum amount a person can have is: <br /> <span class="min_amount" id="min_dec">  0.00001</span><span class="min_symbol" id="min_sym"> </span></p>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-lg-8 col-sm-12">
										<div class="input-field animated">
											<input name="owner_address" type="text" id="owner_address" class="input-line required" placeholder="0xc697F04Dcb807A0be4E1ffe78Fb5325bE112502d">
											<label class="input-title">Owner wallet address *</label>
										</div>
									</div>
									<div class="form-group col-lg-4 col-sm-12">
										<p id="owner_message">This account will be able to <b>control</b> your token.</p>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-lg-8 col-sm-12">
										<div class="input-field animated">
											<input name="discount" type="text" id="owner_address" class="input-line required" placeholder="GIVEMEITFREE">
											<label class="input-title">Discount code</label>
										</div>
									</div>
								</div>

								<div class="form-row submit">
									<div class="form-group col-12">
										<input type="text" class="d-none" name="form-anti-honeypot" value="">
										<div class="input-field animated">
											<button type="submit" class="btn btn-outline" id="submit_btn">Order now</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->

	<!-- Footer -->
	<% include partials/footer %>

	<!-- Pre-loader -->
	<% include partials/preloader %>

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/script_sale.js?ver=122"></script>
	<script src="/javascripts/script_token_form.js?ver=122"></script>

	<!-- For logo upload -->
	<script src="/javascripts/filedrag.js"></script>

	<!-- Error message -->
	<% include partials/error_message %>

	<script src="/javascripts/validate_token.js"></script>

</body>
</html>
