<!DOCTYPE html>
<html>
<head>
	<!-- Header -->
	<% include partials/header %>
	<% include partials/google_analytics %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/error_message.css?ver=122">

</head>

<body>
	<div class="col-12">
		<img src="/images/404_error.png">
	</div>
</body>

<h1><%= message %></h1>
