<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/header %>

	<script src="javascripts/ct-ultimate-gdpr.js"></script>
	<script src="javascripts/init.js"></script>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="stylesheets/vendor.bundle.css?ver=122">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="stylesheets/theme.css?ver=122">
</head>

<body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
			
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="./">
					<img class="logo logo-dark" alt="logo" src="images/logo_dark_custom.png">
					<img class="logo logo-light" alt="logo" src="images/logo_light_custom.png">
				</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="#intro">What is Iconemy<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#marketing">Marketing</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#faq">Faq</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="login">Log in</a></li>
					</ul>
				</div>
				
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-tokensale d-flex align-items-center">
			<div class="header-angle-bg">
				<div class="overlay-bubble">
					<div class="overlay-bubble-1"></div>
					<div class="overlay-bubble-2"></div>
					<div class="overlay-bubble-3"></div>
					<div class="overlay-bubble-4"></div>
					<div class="overlay-bubble-5"></div>
					<div class="overlay-bubble-6"></div>
				</div>
				<div id="particles-js" class="particles-container particles-js"></div>
			</div>
			<div class="container">
				<div class="banner-content">
					<div class="gaps size-3x d-lg-none"></div>
					<div class="row align-items-center mobile-center">
						<div class="col-lg-6 col-md-12 text-lg-left text-center res-m-bttm">
							<div class="header-txt">
								<h1 class="animated" data-animate="fadeInUp" data-delay="1.25">Simplicity of Waves.<br class="d-block">Power of Ethereum.<br class="d-none d-xl-block"></h1>
								<p class="lead animated" data-animate="fadeInUp" data-delay="1.35">Automatically deploy ERC-20 compliant<br class="d-none d-xl-block"> token sales with Iconemy.</p>
								<ul class="btns animated" data-animate="fadeInUp" data-delay="1.45">
									<li><a href="/signup" class="btn btn-outline">Sign up</a></li>
									<!-- <li><a href="#" class="btn btn-simple"> <em class="fa fa-file"></em> Download Whitepaper</a></li> -->
								</ul>
							</div>
						</div><!-- .col  -->
						<div class="col-lg-5 col-md-12 offset-lg-1 offset-md-0 res-m-bttm-lg">
							<div class="animated" data-animate="fadeInUp" data-delay="1.55">
								<div class="header-image-muscari">
									<img src="images/muscari/header-image-muscari.png" alt="header">
								</div>
								<div class="countdown-box countdown-transparent text-center">
									<span class="extra-line"></span>
									<h6>You could be selling tokens in</h6>
									<div class="token-countdown d-flex align-content-stretch" data-date="2018/05/22"></div>
									<div class="token-status-bar">
										<div class="token-status-percent" style="width:75%;"></div>
										<span class="token-status-point token-status-point-1" style="left:25%;">Pre-Sale</span>
										<span class="token-status-point token-status-point-2" style="left:55%;">Soft Cap</span>
										<span class="token-status-point token-status-point-3" style="left:80%;">Bonus</span>
									</div>
									<div>
										<a href="/projects" target="_blank" class="btn btn-alt btn-lg">Create sale NOW</a>
									</div>
								</div>
							</div>
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->
	
	
	<!-- Start Section -->
	<div class="section section-bg-light header-partners">
		<div class="container">
			<div class="gaps size-2x d-lg-none"></div>
			<div class="row">
				<div class="col-md-6">
					<h6 class="ex-sm-head animated" data-animate="fadeInUp" data-delay="1.65">Follow <br>
					us here</h6>
					<ul class="social">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fa fa-facebook"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><em class="fa fa-twitter"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><em class="fa fa-youtube-play"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><em class="fa fa-github"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><em class="fa fa-bitcoin"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><em class="fa fa-medium"></em></a></li>
					</ul>
				</div>
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-bg-light section-pad no-pt into-section" id="intro">
		<div class="container">
			<div class="gaps size-3x"></div>
			<div class="row align-items-center">
				<div class="col-md-5 offset-md-1">
					<div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
						<img src="images/muscari/graph-muscari-a.png" alt="graph">
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 order-md-first order-last">
					<div class="text-block">
						<h2 class="animated" data-animate="fadeInUp" data-delay=".2">We’ve built a platform <br>to deploy cryptocurrencies.</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".3">Iconemy allows you to create and sell your own cryptocurrency in an official ERC-20 compliant crowdsale.</p>
						<p class="animated" data-animate="fadeInUp" data-delay=".4">The cryptocurrency market has exploded in recent years with a countless amount of crowdsales being released for new and exciting innovations!</p>
						<p class="animated" data-animate="fadeInUp" data-delay=".5">Here at Iconemy, you will have the chance to create and sell your very own cryptocurrency on the Ethereum Blockchain and sell it via our auotmated crowdsale platform.</p>
						<a href="/projects" target="_blank" class="btn btn-alt btn-lg">Create sale NOW</a>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="gaps size-3x"></div>
			<div class="gaps size-3x d-none d-lg-block"></div>
		</div><!-- .conatiner  -->
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section section-pad-md section-bg-muscari section-angle">
		<div class="section-bg-angle section-muscari"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-head-s4">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Your problems <br> Our solution</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".2">Here are the problems that we can solve for you right now.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 res-m-bttm">
					<div class="text-box animated" data-animate="fadeInUp" data-delay=".3">
						<h4>Complicated smart contracts</h4>
						<p>In order to create a cryptocurrency in todays world, you have to know something about developing decentralised applications or hire someone who does. This creates a costly barrier to entry for most enthusiasts wanting to create their own legitimate crowdsale.</p>
					</div>
				</div>
				<div class="col-lg-4 res-m-bttm">
					<div class="text-box animated" data-animate="fadeInUp" data-delay=".4">
						<h4>Creating a safe place to buy</h4>
						<p>In order to sell your cryptocurrency, you will need a website with web3 integrations allowing you to interact with your smart contracts. This needs to be a secure and trust-worthy page allowing users to easily buy tokens and hold them in their crypto-wallets. This makes creating a website which facilitates a crowdsale a long and costly process.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="text-box text-box-bg animated" data-animate="fadeInUp" data-delay=".5">
						<h6>Our Solution</h6>
						<h4>That all changes with Iconemy</h4>
						<p>Our automated platform will allow you to simply fill a form in, specify the details under which your sale will run and we will do the rest for you! 
						<br>
						We will create, audit and publish your smart contracts and webpages, so that all you have to do is find investors and hype your great idea!
						<br>
						<br>
						<a href="/projects" target="_blank" class="btn btn-outline">Create sale NOW</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

		<!-- Start Section -->
	<div class="section section-bg-light section-pad no-pt marketing-section" id="marketing">
		<div class="container">
			<div class="gaps size-3x"></div>
			<div class="row">
				<div class="col-lg-6">
					<div class="section-head-s4">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Need to find <br> investors?</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".2">Here are our marketing packages that we offer along side the crowdsales.</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-4 marketing-box">
					<div class="text-box text-box-bg animated" data-animate="fadeInUp" data-delay=".5" id="ico_listing">
						<h6>ICO Listing sites</h6>
						<h4>List your idea on the top crypto websites</h4>
						<p>Listing your cryptocurrency on the popular ICO listing sites is essential for gaining traction and finding investors.
						<br>
						<br>
						Our team will manage all of this for you, so all you have to do is watch your investment rise!
						<br>
						<br>
						<a href="#contact" class="btn btn-outline">Contact NOW</a>
					</div>
				</div>
				<div class="col-lg-4 marketing-box">
					<div class="text-box text-box-bg animated" data-animate="fadeInUp" data-delay=".5" id="press_release">
						<h6>Press releases</h6>
						<h4>Get your idea in the news</h4>
						<p>News articles are essential for making your idea look legitimate.  
						<br>
						<br>
						Our team will write the press releases for your idea, whilst making sure they are pushed to the best crypto news outlets for driving investment.
						<br>
						<br>
						<a href="#contact" class="btn btn-outline">Contact NOW</a>
					</div>
				</div>
				<div class="col-lg-4 marketing-box">
					<div class="text-box text-box-bg animated" data-animate="fadeInUp" data-delay=".5" id="banner_ads">
						<h6>Banner ads</h6>
						<h4>Spread your idea through targeted ads</h4>
						<p>Capture interested investors while they are surfing the web.
						<br>
						<br>
						Our team will create the banner adverts, list them on popular crypto websites and connect and configure the all important analytics!
						<br>
						<br>
						<a href="#contact" class="btn btn-outline">Contact NOW</a>
					</div>
				</div>
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- End Section -->
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-light-alt roadmap-section" id="roadmap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-head-s5 text-center">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay=".0">The Roadmap</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">With help from our teams, contributors and investors these are the milestones we are looking forward to achieve.</p>
					</div>
				</div>
			</div>
			<div class="roadmap-carousel-container animated" data-animate="fadeInUp" data-delay=".2" >
				<div class="roadmap-carousel-withnav" >
					<div class="roadmap-item roadmap-done">
						<h6>Version 0.1</h6>
						<p>Start of the Iconemy platform.</p>
					</div>
					<div class="roadmap-item roadmap-done">
						<h6>Version 0.2</h6>
						<p>Smart contracts with webpages built in</p>
					</div>
					<div class="roadmap-item">
						<h6>Version 1</h6>
						<p>Automated deployment</p>
					</div>
					<div class="roadmap-item">
						<h6>Verion 1.1</h6>
						<p>Auotmated ENS and etherscan</p>
					</div>
					<div class="roadmap-item">
						<h6>Version 2</h6>
						<p>KYC integration</p>
					</div>
					<div class="roadmap-item">
						<h6>Version 2.1</h6>
						<p>Accept multiple currencies</p>
					</div>
					<div class="roadmap-item">
						<h6>Version 2.2</h6>
						<p>Realease Iconemy smart wallet</p>
					</div>
					<div class="roadmap-item">
						<h6>Version 2.3</h6>
						<p>Release Iconemy listing site</p>
					</div>
				</div>
     		</div>
		</div><!-- .container  -->
	</div>
	<!-- Start Section -->

	<!-- Start Section ->
	<div class="section section-pad section-bg-muscari section-muscari" id="apps">
		<div class="overlay-bars">
			<div class="overlay-bar-1"></div>
			<div class="overlay-bar-2"></div>
			<div class="overlay-bar-3"></div>
			<div class="overlay-bar-4"></div>
			<div class="overlay-bar-5"></div>
			<div class="overlay-bar-6"></div>
			<div class="overlay-bar-7"></div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-head-s5 text-center">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay=".0">ICO Wallet App</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Once you’ve entered into our ecosystem, you can mange every thing. Anyone with a smartphone and an internet connection can participate in global marketplace.</p>
					</div>
				</div>
			</div>
			
			<div class="row align-items-center">
				<div class="col-md-6 res-m-btm">
					<div class="text-block">
						<p class="lead animated" data-animate="fadeInUp" data-delay=".0">ICO Crypto Mobile for the future of funding that powering dat for the new equity blockchain.</p>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc itation ullamco laboris nisi commodo consequat. </p>
						<ul class="animated" data-animate="fadeInUp" data-delay=".2">
							<li>Crypto-news curation</li>
							<li>Natural Language Understanding</li>
							<li>Wallet aggregation</li>
							<li>Professional Network</li>
							<li>No more expensive fees</li>
						</ul>
						<ul class="btns animated" data-animate="fadeInUp" data-delay=".3">
							<li><a href="#" class="btn btn-sm btn-outline">GET THE APP NOW</a></li>
							<li>
								<a href="#"><em class="fa fa-apple"></em></a>
								<a href="#"><em class="fa fa-android"></em></a>
								<a href="#"><em class="fa fa-windows"></em></a>
							</li>
						</ul>
					</div>
				</div><!-- .col  ->
				<div class="col-md-6">
					<div class="animated" data-animate="fadeInUp" data-delay=".4">
						<img src="images/muscari/mobile-app.png" alt="app">
					</div>
				</div><!-- .col  ->
			</div><!-- .row  ->
		</div><!-- .container  ->
	</div>
	<!-- Start Section --> 

	<!-- Start Section -->
	<div class="section section-pad faq-section section-angle-top section-bg-light" id="faq">
		<div class="section-bg-angle section-bg-light"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-head-s5 text-center">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay=".0">Frequently Asked Questions</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Here is everything we think you need to know about Iconemy crowdsales. If you'd like more information, please contact us using the form below.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tab-custom tab-custom-s2">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay=".2">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1">General</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2">Crowdsale</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3">Tokens</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-4">Website</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade show active" id="tab-1">
								<div class="row">
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".2">
											<h5>What is Iconemy?</h5>
											<p>Iconemy is a platform which creates cryptocurrencies and crowdsales on the Ethereum Blockchain. We will create, audit, and publish your smart contracts. We will also provide you with customer and admin pages allowing you and your investors to easily interact with your crowdsale.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".3">
											<h5>How do I create a crowdsale?</h5>
											<p>All you have to do is click 'Create sale now' and fill in the form, we will get in touch with you as soon as we can regarding the cost of the sale.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".4">
											<h5>How long does it take to create the crowdsale?</h5>
											<p>This depends on the complexity of your crowdsale, a simple sale with no custom additions will take approximately 1 hour to create and deploy to the network. If it will be any longer we will email you with an estimate of how long it will take.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".5">
											<h5>How do I pay for my crowdsale?</h5>
											<p>You will be able to pay for your crowdsale in ETH or BTC for now, we will also be adding fiat gateways such as stripe and paypal shortly!</p>
										</div>
									</div><!-- .col  -->
								</div><!-- .row  -->
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-2">
								<div class="row">
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".2">
											<h5>Can I create a custom sale?</h5>
											<p>Custom sales are not included in the form we provide for creating crowdsales however, you can get in touch with us using the contact form to find out if we support the sale you are wishing to deploy.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".3">
											<h5>Can I deploy my contracts to another network?</h5>
											<p>At this moment in time, we only support Ethereum smart contracts however, we will be adding options of EOS and Bitcoin smart contracts with RootStock shortly.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".4">
											<h5>What currencies can my crowdsale accept?</h5>
											<p>At this moment in time, we only support ETH payments for crowdsales however, we will be adding the most popular currencies to our crowdsales very soon! </p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".5">
											<h5>How do my customers interact with the crowdsale?</h5>
											<p>We will provide you with 2 webpages, one for your investors to interact with the sale and buy tokens and another thats just for you, this will allow you to control your sale and view the progress along the way.</p>
										</div>
									</div><!-- .col  -->
								</div><!-- .row  -->
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-3">
								<div class="row">
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".2">
											<h5>Can I create other types of tokens?</h5>
											<p>At this moment in time, we only support ERC-20 tokens, this is due to the mass popularity of the tokens on exchanges and we highly recommend that you stick to this standard! If you'd like more information or another type of token, please get in touch using the contact form below.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".3">
											<h5>Can I create a token without a sale?</h5>
											<p>Of course! Simply get in touch using our contact form below and we will reply with a custom form just for you.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".4">
											<h5>Can I lock my tokens from being transferred?</h5>
											<p>This is possible although, at this moment in time is classed as a custom addition, for this addition please enquire using our contact form below.</p>
										</div>
									</div><!-- .col  -->
								</div><!-- .row  -->
							</div><!-- End tab-pane -->
							<div class="tab-pane fade" id="tab-4">
								<div class="row">
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".2">
											<h5>Where will my crowdsales website be held?</h5>
											<p>Your webpages used for interacting with your smart contracts will be hosted by Iconemy, therefore your visitors can easily interact with your crowdsale by using the domain yoursale.iconemy.io.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".3">
											<h5>What will my investors be able to do on the webpage?</h5>
											<p>Your investors will be able to view the details of the crowdsale and the token, view the progress of the sale and buy tokens using their ethereum wallet if it is supported on their browser, we will provide a help page to walk your investors through this process.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".4">
											<h5>What will I be able to do on the admin webpage?</h5>
											<p>From the admin webpage, you will be able to manage your entire sale, if the sale needs to be extended or halted, you can do that here, if you'd like to set any pre allocations then you can also do that here. The full list of things you can do on this page depends on the complexity of your sale.</p>
										</div>
									</div><!-- .col  -->
									<div class="col-md-6">
										<div class="single-faq animated" data-animate="fadeInUp" data-delay=".5">
											<h5>Is the website secure?</h5>
											<p>By using the Ethereum blockchain, there is no way the site can be hacked for malicious uses, we will keep your investors safe whilst you worry about finding them! All you will need to control your crowdsale is your admin wallets pirvate key, DO NOT LOSE THIS, as you will not be able to interact with the sale without it.</p>
										</div>
									</div><!-- .col  -->
								</div><!-- .row  -->
							</div><!-- End tab-pane -->
						</div><!-- End tab-content -->
					</div><!-- End tab-custom -->
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- End container -->
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section section-pad section-bg-light section-angle-bottom contact-section" id="contact">
		<div class="section-bg-angle section-bg-light-alt"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-head-s5 text-center">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Get In Touch</h2>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 offset-lg-1">
					<div class="gaps"></div>
					<p class="animated" data-animate="fadeInUp" data-delay=".1">Any questions? Reach out to us and we’ll get back to you shortly.</p>
					<ul class="contact-info-alt">
						<li class="animated" data-animate="fadeInUp" data-delay=".3"><em class="fa fa-envelope"></em><span>jp@iconemy.io</span></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".4"><em class="fa fa-paper-plane"></em><span>Join us on Telegram</span></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".5">
							<a href="/projects" target="_blank" class="btn btn-alt btn-lg">Create sale NOW</a>
						</li>
					</ul>
				</div><!-- .col  -->
				<div class="col-lg-5">
					<form id="contact-form" class="form-message text-left" action="/api/contact" method="post">
						<div class="form-results"></div>
						<div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
							<input name="name" type="text" class="input-line required">
							<label class="input-title">Your Name</label>
						</div>
						<div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
							<input name="email" type="email" class="input-line required email">
							<label class="input-title">Your Email</label>
						</div>
						<div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
							<textarea name="message" class="txtarea input-line required"></textarea>
							<label class="input-title">Your Message</label>
						</div>
						<input type="text" class="d-none" name="form-anti-honeypot" value="">
						<div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
							<button type="submit" class="btn">Submit</button>
						</div>
					</form>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section section-bg-muscari section-muscari section-pad-sm footer-fix" id="partners">
		<div class="overlay-bars reverse">
			<div class="overlay-bar-1"></div>
			<div class="overlay-bar-2"></div>
			<div class="overlay-bar-3"></div>
			<div class="overlay-bar-4"></div>
			<div class="overlay-bar-5"></div>
			<div class="overlay-bar-6"></div>
			<div class="overlay-bar-7"></div>
		</div>
		<div class="gaps size-6x"></div>
		<div class="gaps size-6x"></div>
		<div class="gaps size-6x"></div>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<div class="section-head">
						<h6 class="section-title-sm  animated" data-animate="fadeInUp" data-delay="0">Follow us here</h6>
					</div>
				</div>
			</div>
			<div class="footer-social">
				<div class="row text-center">
					<ul class="social social-center">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fa fa-facebook"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><em class="fa fa-twitter"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><em class="fa fa-youtube-play"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><em class="fa fa-github"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><em class="fa fa-bitcoin"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><em class="fa fa-medium"></em></a></li>
					</ul>
				</div><!-- .row  -->
			</div><!-- .partner-list  -->
			
			<div class="gaps size-3x"></div>
			<hr class="hr-line">
			<div class="gaps size-3x"></div>
			
			<div class="row" id="footer">
				<div class="col-sm-6 col-xl-4 res-l-bttm">
					<a class="footer-brand animated" data-animate="fadeInUp" data-delay="0" href="./">
						<img class="logo logo-light" alt="logo" src="images/logo_light_custom.png" style="width: 80%; height: auto;">
					</a>
				</div><!-- .col  -->
				<div class="col-sm-6 col-xl-4 res-l-bttm">
					<div class="footer-subscription">
						<h6 class="animated" data-animate="fadeInUp" data-delay=".6">Subscribe to our newsletter</h6>
						<form id="subscribe-form" action="/api/subscribe" method="post" class="subscription-form animated" data-animate="fadeInUp" data-delay=".7">
							<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email" >
							<input type="text" class="d-none" name="form-anti-honeypot" value="">
							<button type="submit" class="btn btn-plane">Subscribe</button>
							<div class="subscribe-results"></div>
						</form>
					</div>
				</div><!-- .col  -->
				<div class="col-xl-4">
					<ul class="link-widget animated" data-animate="fadeInUp" data-delay=".8">
						<li><a href="#" class="menu-link">Product</a></li>
						<li><a href="#" class="menu-link">Join Us</a></li>
						<li><a href="#" class="menu-link">Contact</a></li>
						<li><a href="#" class="menu-link">Roadmap</a></li>
						<li><a href="#" class="menu-link">FAQ</a></li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="gaps size-2x"></div>
			<div class="row">
				<div class="col-md-7">
					<span class="copyright-text">
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div><!-- .col  -->
				<div class="col-md-5 text-right mobile-left">
					<ul class="footer-links">
						<li><a href="/privacy">Privacy Policy</a></li>
						<li><a href="/terms">Terms &amp; Conditions</a></li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<div id="preloader">
		<div id="loader"></div>
		<div class="loader-section loader-top"></div>
   		<div class="loader-section loader-bottom"></div>
	</div>
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="javascripts/jquery.bundle.js?ver=122"></script>
	<script src="javascripts/script.js?ver=122"></script>
<!-- 	<script type="text/javascript">
	window.$crisp=[];window.CRISP_WEBSITE_ID="09ad6475-1dda-47e8-aebc-90ce23686895";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
	</script> -->

</body>
</html>
