<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/header %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="stylesheets/vendor.bundle.css?ver=122">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="stylesheets/theme.css?ver=122">
	<link rel="stylesheet" href="stylesheets/custom_my_projects.css?ver=122">
</head>

<body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky has-fixed">

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
			
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="./">
					<!-- <img class="logo logo-dark" alt="logo" src="images/logo_dark_custom.png"> -->
					<img class="logo logo-dark" alt="logo" src="images/Iconemy_logo_blue_bg@1x.png">
				</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="https://docs.iconemy.io">Docs</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/logout">Log out</a></li>
					</ul>
				</div>
				
			</nav>
		</div>
		<!-- End Navbar -->
	</header>
	<!-- End Header -->

	<!-- Start Section -->
	<div class="section">
		<div class="container">
			<div class="gaps size-6x"></div>

			<div class="row">
				<div class="col-12">
					<h1 id="page-title">My projects</h1>
				</div>
			</div>

			<div class="row projects">
				<% crowdsales.forEach(function(sale) { %>
					<div class="col-lg-4 col-sm-12 project">
						<div class="card animated" data-animate="fadeInUp" data-delay=".6" id="<%= sale.subdomain %>">
						  <div class="container">
						  	<img src="<%= sale.logo %>" alt="Donut logo">
						  	<h2 class="title"><%= sale.name %></h2> 
						    <p><%= sale.description %></p> 
						  </div>
						</div>
					</div>
				<% }); %>
				<div class="col-lg-4 col-sm-12 project">
					<div class="card animated" data-animate="fadeInUp" data-delay=".6" id="new_project">
					  <div class="container">
					  	<h1>+</h1>
					    <p>Add new project</p> 
					  </div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="gaps size-6x"></div>
	<div class="gaps size-6x"></div>

	<!-- Footer -->
	<% include partials/footer %>

	<!-- Pre-loader -->
	<% include partials/preloader %>

	<!-- JavaScript (include all script here) -->
	<script src="javascripts/jquery.bundle.js?ver=122"></script>
	<script src="javascripts/custom_my_projects.js?ver=122"></script>
	<script src="javascripts/make_payment.js?ver=122"></script>

	<!-- Error message -->
	<% include partials/error_message %>

</body>
</html>
