<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Header -->
        <% include partials/google_tag_manager %>
        <% include partials/header %>

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/new_landing.css?ver=122">
    </head>

    <body>
    <% include partials/google_tag_manager_body %>
    <% include partials/hubspot_chatbot %>

        <section id="header_section">
            <div class="logo">
                <img src="/images/Iconemy_logo_blue_bg@1x.png" id="logo">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>We make ICO <br>investment easy.</h1>
                        <div class="buttons">
                            <button id="subscribe_button">Subscribe</button>
                            <button id="listing_button">List your ICO</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="inner-page" id="easy123_section">
            <div class="container" id="easy_title_container">
                <div class="row" id="easy_title_row">
                    <h3 id="easy123_title">It's as easy as <br>1...2...3</h3>
                </div>
                <div class="row">
                    <div class="row" id="easy123_numbers">
                        <div class="col-lg-4">
                            <img src="/images/new_landing/logo_1.png" class="easy123_image">
                            <h4>Sign up</h4>
                            <p>Signing up with iconemy <br> is easy. We only ask for KYC once.</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="/images/new_landing/logo_2.png" class="easy123_image">
                            <h4>Find an ICO</h4>
                            <p>Find an ICO you love in our <br> ICO listing pages.</p>
                        </div>
                        <div class="col-lg-4">
                            <img src="/images/new_landing/logo_3.png" class="easy123_image">
                            <h4>Buy tokens</h4>
                            <p>Buy tokens directly <br> from the ICO listing.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="inner-page" id="kyc_section">
            <div class="container" id="kyc_container">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="kyc_text">
                            <h4>Only do KYC/AML <span id="highlighted_text">once</span></h4>
                            <p>You only have to verify yourself with  Iconemy <br> once, and you can invest in as many ICOs as you like!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </section>

        <section class="inner-page" id="community_section">
            <div class="container" id="community_container">
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                        <div id="community_text">
                            <h4>Join the <span id="highlighted_text">community</span></h4>
                            <p>You only have to verify yourself with  Iconemy <br> once, and you can invest in as many ICOs as you like!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="inner-page" id="lost_section">
            <div class="container" id="lost_container">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="lost_text">
                            <h4>Dont get <span id="highlighted_text">lost</span></h4>
                            <p>Dont get lost in confusing buying processes, <br>just click buy to get tokens from the ICO!</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer" class="footer">
            <div class="footer-bottom">
                    <div class="row" id="footer_container">
                        <img src="/images/Iconemy_logo_blue_bg@1x.png" id="footer_logo_image">
                        <div class="col-12" id="footer_form_col">
                            <h2 id="footer_title">Ready to sign up?</h2>
                            <form class="form-inline" id="footer_form">
                                <div class="form-group mb-2" id="form_input_div">
                                    <input type="text" class="form-control-plaintext" id="footer_input" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn mb-2" id="footer_submit">Submit</button>
                            </form>
                        </div>
                    </div>
            </div>
        </footer>
    </body>
</html>

