<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Iconemy">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Iconemy allows your to create your own cryptocurrency in less than 10 minutes!">

	<meta property="og:title" content="Iconemy - Create your own crowdsale"/>
    <meta property="og:description" content="Create a cryptocurrency in less than 10 minutes."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://iconemy.io"/>
    <meta property="og:image" content="http://iconemy.io/images/promo_img.png"/>

	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="/images/logo_favicon.png">
	<!-- Site Title  -->
	<title>Iconemy | Create your own crowdsale</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">

	<!-- For the calendar -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/daterangepicker.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.timepicker.css" />

	<!-- For the slider -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-slider.css" />

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_styles.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_sale.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_sale_form.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/create_project.css?ver=122">

</head>

<body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
			
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="./">
					<img class="logo logo-dark" alt="logo" src="/images/logo_dark_custom.png">
					<img class="logo logo-light" alt="logo" src="/images/logo_light_custom.png">
				</a>
				
<!-- 				<div class="language-switcher animated" data-animate="fadeInDown" data-delay=".75">
					<a href="#" data-toggle="dropdown">EN</a>
					<div class="dropdown-menu" >
						<a class="dropdown-item" href="#">FR</a>
						<a class="dropdown-item" href="#">CH</a>
						<a class="dropdown-item" href="#">BR</a>
					</div>
				</div> -->
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/projects">Projects</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="https://docs.iconemy.io">Docs</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/">Log out</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-tokensale d-flex align-items-center">
			<div class="header-angle-bg">
				<div class="overlay-bubble">
					<div class="overlay-bubble-1"></div>
					<div class="overlay-bubble-2"></div>
					<div class="overlay-bubble-3"></div>
					<div class="overlay-bubble-4"></div>
					<div class="overlay-bubble-5"></div>
					<div class="overlay-bubble-6"></div>
				</div>
				<div id="particles-js" class="particles-container particles-js"></div>
			</div>
			<div class="container">
				<div class="banner-content">
					<div class="gaps size-3x"></div>
					<div class="row align-items-center mobile-center">
						<div class="col-lg-12 text-center res-m-bttm">
							<div class="header-txt">
								<h1 class="animated token_name" data-animate="fadeInUp" data-delay="1.25">Create a project</h1>
								<p class="animated token_description" data-animate="fadeInUp" data-delay="1.50">Enter the details of your new cryptocurrency project</p>
							</div>
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
				<div class="row justify-content-center text-center sale-box">
					<div class="col-lg-12">
						<div class="token-box shadow">
							<form id="token-form" class="form-message text-left">
								<div class="form-row justify-content-center">
									<div class="form-group col-lg-12 col-sm-12">
										<div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
											<input name="sale-name" type="text" id="sale_name" class="input-line required" placeholder="My new project">
											<label class="input-title">Project name *</label>
										</div>
									</div>
								</div>

								<div class="form-row justify-content-center">
									<div class="form-group col-lg-6 col-sm-12">
										<label class="input-title" id="logo_label">Project logo</label>

										<div id="upload_section">
											<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

											<div>
												<input type="file" id="fileselect" name="fileselect[]" />
												<div id="filedrag"><img id="upload_icon" src="/images/upload_favicon.png"><br />Drag and drop <br /> logo here.</div>
											</div>
										</div>

										<div id="uploaded_logo"></div>
									</div>
									<div class="form-group col-lg-6 col-sm-12">
											<label id="description_label">Description *</label>
											
											<textarea name="description"  rows="6" cols="50" id="description">Enter a basic description about your project here</textarea>
										
									</div>
								</div>

								<div class="form-row" id="duration_row">
									<div class="form-group col-lg-6 col-sm-12" id="social_left">
										
											<div class="social_row">
												<div class="social_column_image">
													<img src="/images/facebook_empty.png" id="facebook_favicon_empty">
													<img src="/images/facebook_full.png" id="facebook_favicon_full">
												</div>
												<div class="social_column_input">
													<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
														<input name="facebook" type="text" id="facebook_input" class="input-line required" placeholder="www.facebook.com/myproject">
													</div>
												</div>
											</div>

											<div class="social_row">
												<div class="social_column_image">
													<img src="/images/twitter_empty.png" id="twitter_favicon_empty">
													<img src="/images/twitter_full.png" id="twitter_favicon_full">
												</div>
												<div class="social_column_input">
													<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
														<input name="twitter" type="text" id="twitter_input" class="input-line required" placeholder="www.twitter.com/myproject">
													</div>
												</div>
											</div>
											<div class="social_row">
												<div class="social_column_image">
													<img src="/images/youtube_empty.png" id="youtube_favicon_empty">
													<img src="/images/youtube_full.png" id="youtube_favicon_full">
												</div>
												<div class="social_column_input">
													<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
														<input name="youtube" type="text" id="youtube_input" class="input-line required" placeholder="www.youtube.com/myproject">
													</div>
												</div>
											</div>
										
									</div>
									<div class="form-group col-lg-6 col-sm-12" id="social_right">
										<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
											<div class="social_row">
												<div class="social_column_image">
													<img src="/images/bitcoin_favicon_empty.png" id="bitcoin_favicon_empty">
													<img src="/images/bitcoin_favicon_full.png" id="bitcoin_favicon_full">
												</div>
												<div class="social_column_input">
													<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
														<input name="bitcoin" type="text" id="bitcoin_input" class="input-line required" placeholder="www.bitcoin.com/myproject">
													</div>
												</div>
											</div>
											<div class="social_row">
												<div class="social_column_image">
													<img src="/images/medium_favicon_empty.png" id="medium_favicon_empty">
													<img src="/images/medium_favicon_full.png" id="medium_favicon_full">
												</div>
												<div class="social_column_input">
													<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
														<input name="medium" type="text" id="medium_input" class="input-line required" placeholder="www.medium.com/myproject">
													</div>
												</div>
											</div>
											<div class="social_row">
												<div class="social_column_image">
													<img src="/images/telegram_favicon_empty.png" id="telegram_favicon_empty">
													<img src="/images/telegram_favicon_full.png" id="telegram_favicon_full">
												</div>
												<div class="social_column_input">
													<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
														<input name="telegram" type="text" id="telegram_input" class="input-line required" placeholder="www.telegram.com/myproject">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-row" id="price_row">
									<div class="form-group col-12">
										<div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
											<input name="website" type="text" id="website" class="input-line required" placeholder="www.myproject.io">
											<label class="input-title" id="website_label">Official website *</label>
										</div>
									</div>
								</div>

								<div class="form-row">
									<div class="form-group col-lg-6 col-sm-12">
										<div class="document_row">
											<div class="document_column_image">
												<img src="/images/whitepaper_empty.png" id="whitepaper_favicon_empty">
												<img src="/images/whitepaper_full.png" id="whitepaper_favicon_full">
											</div>
											<div class="document_column_input">
												<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
													<label id="description_label">Whitepaper</label>

													<input name="whitepaper" type="text" id="whitepaper" class="input-line required" placeholder="www.myproject.io/whitepaper">
												</div>
											</div>
										</div>
									</div>
									<div class="form-group col-lg-6 col-sm-12">
										<div class="document_row">
											<div class="document_column_image">
												<img src="/images/onepager_empty.png" id="onepager_favicon_empty">
												<img src="/images/onepager_full.png" id="onepager_favicon_full">
											</div>
											<div class="document_column_input">
												<div class="input-field animated input-focused" data-animate="fadeInUp" data-delay=".5">
													<label id="description_label">One pager</label>

													<input name="onepager" type="text" id="onepager" class="input-line required" placeholder="www.myproject.io/onepager">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-lg-8 col-sm-12">
										<div class="subdomain_row">
											<div class="subdomain_column_https">
												<p id="subdomain_https">https://</p>	
											</div>
											<div class="subdomain_column_input">	
													<div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
														<input name="subdomain" type="text" id="subdomain" class="input-line required" placeholder="myproject.iconemy.io">
														<label class="input-title">Iconemy subdomain *</label>
													</div>
											</div>
										</div>
									</div>
									<div class="form-group col-lg-4 col-sm-12">
										<p id="subdomain_message">This is the domain that you can share with investors to view your project and take part in your crowdsales.</p>
									</div>
								</div>

								<div class="form-row submit">
									<div class="form-group col-12">
										<input type="text" class="d-none" name="form-anti-honeypot" value="">
										<div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
											<button type="submit" class="btn btn-outline" id="submit_btn">Create now</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->


	<!-- Start Section -->
	<div class="section section-bg-muscari section-muscari section-pad-sm footer-fix" id="footers">
		<div class="container">
			<div class="gaps size-6x"></div>
			
			<div class="row" id="footer">
				<div class="col-sm-6 col-xl-4 res-l-bttm">
					<a class="footer-brand animated" data-animate="fadeInUp" data-delay="0" href="./">
						<img class="logo logo-light" alt="logo" src="/images/logo_light_custom.png" style="width: 80%; height: auto;">
					</a>
					<ul class="social social-center">
						<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em class="fa fa-facebook"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><em class="fa fa-twitter"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><em class="fa fa-youtube-play"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><em class="fa fa-github"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><em class="fa fa-bitcoin"></em></a></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><em class="fa fa-medium"></em></a></li>
					</ul>
				</div><!-- .col  -->
				<div class="col-sm-6 col-xl-4 res-l-bttm">
					<div class="footer-subscription">
						<h6 class="animated" data-animate="fadeInUp" data-delay=".6">Create your own crowdsale now</h6>
						<form id="subscribe-form" action="form/subscribe.php" method="post" class="subscription-form animated" data-animate="fadeInUp" data-delay=".7">
							<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email" >
							<input type="text" class="d-none" name="form-anti-honeypot" value="">
							<button type="submit" class="btn btn-plane">Subscribe</button>
							<div class="subscribe-results"></div>
						</form>
					</div>
				</div><!-- .col  -->
				<div class="col-xl-4">
					<ul class="link-widget animated" data-animate="fadeInUp" data-delay=".8">
						<li><a href="#" class="menu-link">Product</a></li>
						<li><a href="#" class="menu-link">Join Us</a></li>
						<li><a href="#" class="menu-link">Contact</a></li>
						<li><a href="#" class="menu-link">Roadmap</a></li>
						<li><a href="#" class="menu-link">FAQ</a></li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="gaps size-2x"></div>
			<div class="row">
				<div class="col-md-7">
					<span class="copyright-text">
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div><!-- .col  -->
				<div class="col-md-5 text-right mobile-left">
					<ul class="footer-links">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<div id="preloader">
		<div id="loader"></div>
		<div class="loader-section loader-top"></div>
   		<div class="loader-section loader-bottom"></div>
	</div>
	<!-- Preloader End -->

	<!-- Jquery -->
	<script src="/javascripts/jquery.bundle.js?ver=122"></script>

	<!-- For read only suffix on subdomain -->
	<script src="/javascripts/readOnlySuffix.js"></script>

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/script_sale.js?ver=122"></script>
	<script src="/javascripts/script_token_form.js?ver=122"></script>
	<script src="/javascripts/custom_new_sale.js?ver=122"></script>
	<script src="/javascripts/create_project.js?ver=122"></script>

	<!-- For calendar -->
	<script src="/javascripts/moment.min.js"></script>
	<script src="/javascripts/daterangepicker.js"></script>

	<!--  For time selector -->
	<script src="/javascripts/jquery.timepicker.js"></script>

	<!-- For the slider -->
	<script src="/javascripts/bootstrap-slider.js"></script>

	<!-- For logo upload -->
	<script src="/javascripts/filedrag.js"></script>

</body>
</html>
