<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/google_tag_manager %>
	<% include partials/header_owners %>
	
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/new_landing/vendor.bundle.css?ver=122">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/new_landing/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/blog_single_custom.css?ver=122">
	
</head>

<body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">
	<% include partials/google_tag_manager_body %>
	<% include partials/hubspot_chatbot %>

	<!-- Header --> 
	<header class="site-header is-sticky">
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">

				<a class="navbar-brand" href="./">
					<img class="logo logo-dark" alt="logo" src="/images/Iconemy_just_name_white_bg.png" srcset="/images/Iconemy_just_name_white_bg.png 2x">
					<img class="logo logo-light" alt="logo" src="/images/Iconemy_just_name_white_bg.png" srcset="/images/Iconemy_just_name_white_bg.png 2x">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link menu-link" href="/new2">What is Iconemy</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/new2#apps">Mobile app</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/investors/blog">Blog<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/new2#signup">Sign up</a></li>
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/new_dark#contact">List ICO/ITO</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center banner banner-curb banner-particle just-curve" >
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">BLOG</h2>
						</div>
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
							<img src="/images/new_landing/why_crypto_cover_pic.png" alt="blog-large">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="#">26 Feb, 2018</a></li>
							<li><span>By</span><a href="#">Jack Pickering</a></li>
							<li><span>In</span><a href="#">Academy</a></li>
						</ul>
						<h3 class="blog-title"><a href="">Why do we need cryptocurrencies?</a></h3>
						<p>In order for us to explain why cryptocurrencies are necessary, we must first look at why traditional currencies were invented.</p>
						<br />
						<h4>A long time ago, in a galaxy not so far away…</h4>
						<p>To understand this, we need to go back to a time before we had currencies. This is a time when <b>bartering</b> was used in order to exchange goods and services. For example, an old farmer may realise that he is in need of a some hay to feed his pig, he decides to swap 1 of his chickens with someone else, in order to get the hay to feed his pig.</p>
						<br />
						<img src="/images/new_landing/blog/image_10.png" class="blog_post_image">
						<br />
						<p>In this example, the farmer now has to <b>find someone who is in need of a chicken and would like to give away their hay.</b> This is a long process as there may be no one in his village that is in need of a chicken and willing to return hay for it. The farmer now has three options: look elsewhere in a distant village, swap something else for the hay or swap something for the chicken (like a metal sword) and hope that the person owning the hay may be in need of a metal sword. This results in time wasted and the farmer not getting the deal that he originally wanted (swapping a chicken for some hay).</p>
						<br />
						<img src="/images/new_landing/blog/image_1.png" class="blog_post_image">
						<br />
						<h4>There must an easier way?!</h4>
						<p>In Ancient China (around 1,100 BC) coins were invented in order to <b>determine the value of something,</b> now the farmer knows he has a chicken that is worth 1 gold coin, he can simply sell that to someone who is looking for a chicken for 1 gold coin and buy hay from the original owner for that 1 gold coin. This is a much faster process and allows him to get <b>the deal he originally wanted</b> – giving 1 chicken up in return for some hay.</p>
						<br />
						<img src="/images/new_landing/blog/image_2.png" class="blog_post_image">
						<br />	
						<p>A currency is simply something which can be traded for any goods or services with a commonly known value. <b>The currency itself is worth nothing other than what people think it is worth</b> – the coin itself brings no value to anybody, which means it comes in really handy when people want to use it to swap goods and services.</p>				
						<p>But, what if this farmer became so successful that he ended up with a million gold coins under his bed? If someone from a neighbouring village heard about this, they could come and steal his supply of gold coins!</p>
						<br />
						<img src="/images/new_landing/blog/image_3.png" class="blog_post_image">
						<br />
						<h4>An innocent business idea that helped secure peace</h4>
						<p>So businesses were created in order to store these gold coins on peoples behalf, they would issue ‘notes’ to the person to say they are entitled to that many gold coins, when they hand  the note back. This allowed the farmer to <b>securely store his gold coins</b> so that he wasn’t staying up all night worrying about being robbed. These companies are better known as <b>banks.</b></p>
						<br />
						<img src="/images/new_landing/blog/image_4.png" class="blog_post_image">
						<br />						
						<p>After a while, businesses began trading across borders, this made it difficult to trade as each person wanted to trade with <b>their own currency</b> (the farmer does not want to receive a red coin when everybody in his village only accepts gold coins). So banks began storing foreign currencies in order to allow people to <b>exchange</b> their currencies for a fee. This allowed the farmer to trade with someone dealing in red coins, and swap those red coins for gold coins in order to buy goods in his home village. </p>
						<br />
						<img src="/images/new_landing/blog/image_5.png" class="blog_post_image">
						<br />	
						<br />
						<img src="/images/new_landing/blog/image_6.png" class="blog_post_image">
						<br />	
						<p>What if the farmer was waiting on a delivery of red coins from an international trade, but was unable to pay for hay to feed his pig until it arrived? Who oversees enough money that they could potentially lend the farmer some gold coins in return for a fee? <b>The banks,</b> so banks started lending money to people for a fee and expecting them to pay this sum of money back at a certain date. </p>
						<br />
						<h4>All seemed well, until...</h4>
						<p>Due to the fact that the banks stored everybody’s money, <b>banks became extremely powerful,</b> the bargaining power of the banks increased immensely – they could charge extremely high fees for their services just for storing the gold coins on behalf of the farmer.</p> 
						<p>What’s worse, if the bank lent gold coins to a lot of people, and all of these people couldn’t pay the bank back, the bank may end up with so little coins that it is <b>unable to give any back to the farmer,</b> meaning all of his hard work had gone to waste and leaving him with no gold coins to buy hay to feed his pig!</p>
						<br />
						<img src="/images/new_landing/blog/image_7.png" class="blog_post_image">
						<br />	
						<p>This was all due to the fact that a <b>central authority</b> (one single bank) was in charge of everybody’s money, when they screw up, the whole world gets affected!</p>	
						<br />
						<h4>Are you ever going to tell us why cryptocurrencies are useful?</h4>
						<p>Cryptocurrencies were invented because of this, they rely on something called DLT, ‘decentralised ledger technology’ which is a very complicated term that simply means: a way of getting everybody to agree on how many crypto-coins people own, <b>without relying on a central authority (i.e. a bank or government).</b></p>	
						<p>DLTs allow the community to decide how many crypto-coins are owned by each person and who has traded crypto-coins to someone else. Allowing the farmer to carrying on with his business with the peace of mind that <b>nobody, other than him,</b> is in charge of his crypto-coins!</p>
						<br />
						<img src="/images/new_landing/blog/image_8.png" class="blog_post_image">
						<br />	
						<p>It also allows people to freely exchange between international borders, as the currency can be worldwide, there is no need to pay anyone to exchange your currency! The farmer can now use his crypto-coins in an international sale, knowing the business in another country can accept and use the same crypto-coins!</p>
						<br />
						<img src="/images/new_landing/blog/image_9.png" class="blog_post_image">
						<br />							
						<!-- <ul class="blog-tags"> -->
							<!-- <li><a href="#">ICOs</a></li> -->
							<!-- <li><a href="#">ITOs</a></li> -->
							<!-- <li><a href="#">tokens</a></li> -->
						<!-- </ul> -->
						
					</div>
					
				</div><!-- .col -->
				<div class="col-lg-4">
				
					<div class="sidebar-section">
						<!-- <div class="sidebar-widget category"> -->
							<!-- <h5 class="sidebar-widget-title">Category</h5> -->
							<!-- <ul> -->
								<!-- <li class="active"><a href="#">Academy</a></li> -->
								<!-- <li><a href="#">Articles</a></li> -->
								<!-- <li><a href="#">Reports</a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
						<!-- <div class="sidebar-widget tags"> -->
							<!-- <h5 class="sidebar-widget-title">Tags</h5> -->
							<!-- <ul> -->
								<!-- <li><a href="#">ethereum</a></li> -->
								<!-- <li><a href="#">tokens</a></li> -->
								<!-- <li><a href="#">coins</a></li> -->
								<!-- <li><a href="#">ICOs</a></li> -->
								<!-- <li><a href="#">ITOs</a></li> -->
								<!-- <li><a href="#">utility-tokens</a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
						
						<div class="sidebar-widget cta-widget text-center" id="iconemy_ad">
							<h5 class="cta-head">We make ICOs easy!</h5>
							<p>Sign up to Iconemy, do KYC once and invest in ICO/ITOs in minutes!</p>
							<a href="#" class="btn btn-plane btn-alt">Subscribe now</a>
						</div><!-- .sidebar-widget -->
						
					</div><!-- .sidebar-section -->
					
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section subscribe-section section-pad-md section-bg" id="subscribe">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Don't miss out, Stay updated</h4>
					<div class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" id="email_input" data-page="investors-blog">
						
						<button type="submit" class="btn btn-plane" id="signup_btn">Sign up</button>
						<div class="subscribe-results">
							<div class="alert alert-success" id="success_box" style="display: none;">
								 <p id="success_message"></p>
							</div>
							<div class="alert alert-danger" id="error_box" style="display: none;">
							  <p id="error_message"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li><a href="#"><em class="fa fa-facebook"></em></a></li>
						<li><a href="#"><em class="fa fa-twitter"></em></a></li>
						<li><a href="#"><em class="fa fa-youtube-play"></em></a></li>
						<li><a href="#"><em class="fa fa-github"></em></a></li>
						<li><a href="#"><em class="fa fa-bitcoin"></em></a></li>
						<li><a href="#"><em class="fa fa-medium"></em></a></li>
					</ul>
					<span class="copyright-text">
						2018, ICONEMY
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<!-- <div id="preloader"> -->
		<!-- <div id="loader"></div> -->
		<!-- <div class="loader-section loader-top"></div> -->
   		<!-- <div class="loader-section loader-bottom"></div> -->
	<!-- </div> -->
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/new_landing/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/new_landing/script.js?ver=122"></script>
	<script src="/javascripts/new_landing/subscribe.js?ver=122"></script>

</body>
</html>
