<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/google_tag_manager %>
	<% include partials/header_owners %>
	
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/new_landing/vendor.bundle.css?ver=122">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/new_landing/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/blog_single_custom.css?ver=122">
	
</head>

<body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">
	<% include partials/google_tag_manager_body %>
	<% include partials/hubspot_chatbot %>

	<!-- Header --> 
	<header class="site-header is-sticky">
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">

				<a class="navbar-brand" href="/">
					<img class="logo logo-dark" alt="logo" src="/images/Iconemy_just_name_white_bg.png" srcset="/images/Iconemy_just_name_white_bg.png 2x">
					<img class="logo logo-light" alt="logo" src="/images/Iconemy_just_name_white_bg.png" srcset="/images/Iconemy_just_name_white_bg.png 2x">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link menu-link" href="/investors">What is Iconemy</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/investors#apps">Mobile app</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="./">Blog<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/investors#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/investors#signup">Sign up</a></li>
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/owners#contact">List ICO/ITO</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner -->
		<div id="header" class="page-banner d-flex align-items-center banner banner-curb banner-particle just-curve" >
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="page-head">
							<h2 class="page-heading">BLOG</h2>
						</div>
					</div>
				</div>
			</div><!-- .container  -->
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

 
	<!-- Start Section -->
	<div class="section section-pad-md section-bg-alt blog-section" id="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content">
						<div class="blog-photo">
							<img srcset="/images/new_landing/blog_cover_1.png, /images/new_landing/blog_cover_1.png 2x, /images/new_landing/blog_cover_1.png 3x" src="/images/new_landing/blog_cover_1.png" alt="blog-large">
						</div>
						<ul class="blog-meta">
							<li><span>Posted</span><a href="#">26 Feb, 2018</a></li>
							<li><span>By</span><a href="#">Jack Pickering</a></li>
							<li><span>In</span><a href="#">Academy</a></li>
						</ul>
						<h3 class="blog-title"><a href="">ICOs are not dead, STOs are not a replacement and ‘TGEs’​ just isn’t right.</a></h3>
						<p>Let’s first dissect this by explaining the difference between a coin and a token. Although these definitions are extremely vague and differ from place to place, I’ll do my best to explain what I think the difference is:</p>
						<br />
						<h4>Coins vs tokens</h4>
						<p>A coin is a crypto-asset which is used as the native currency on its own blockchain/DLT — Bitcoin, Litecoin, Dogecoin, Ether on Ethereum, WAVES on waves, XRP on ripple etc.</p>
						<p>A token is a crypto-asset based on top of an underlying blockchain and therefore, on top of an underlying coin i.e. any ERC-20 tokens based on top of the Ethereum blockchain and the ether coin, or any token based on the WAVES blockchain and the waves coin.</p>
						<p>Technically the mass majority of ‘ICOs’ are actually… ITOs which means: ‘Initial Token offering’. An example of an actual ICO is EOS, as they are selling the coins used for their underlying infrastructure which they hope to build.</p>
						<br />
						<!-- IMAGE 1 -->
						<h4>Don't use 'TGE'</h4>
						<p>I’m going to add a small note here to say THIS IS NOT A TGE — TGE stands for ‘Token generation event’ which for me —doesn’t work in relation to any offering. This refers to the point at which the tokens are generated, not when they are offered to the user. Therefore, I could have a TGE before I have an ICO (as I could generate all my tokens before I offer them to investors), or I could have my TGE during my ICO (as I could generate the tokens upon purchase from the investors) either way, this term does not replace or have any relevance to actually offering tokens to investors and has no place in this discussion or any discussion relating to ICO/ITOs.</p>
						<p>TDE which stands for ‘Token Distribution Event’ is admittedly a better term, as the tokens are being distributed. Due to the fact they do not refer to the ‘initial’ distribution, should probably be used for any future sales the company has (if any) — but even so, still does not replace the fact a business is initially offering coins/tokens to their investors (where the greatest ROI can be achieved).</p>
						<br />
						<h4>Just to be sure...</h4>
						<p>So let’s get one thing clear, an STO is an ITO, ITO is simply an umbrella term used for ‘initially offering tokens to investors’ that’s it, not utility tokens, not security tokens, all tokens.</p>
						<p>I could leave it there, as the term ‘ICO’ simply refers to companies creating new infrastructures such as: blockchains, hash graphs or another form of DLT (which stands for ‘Distributed Ledger Technology’ — the umbrella term for all distributed ledgers) and initially offering the underlying coin on this new infrastructure to its investors — <b>this is not dead! There will be many more infrastructures that are released in the future!.</b></p>
						<p>But, seen as I have mentioned ITOs, and, when most people refer to ‘ICOs are DEAD’, they’re actually referring to utility tokens, let’s get onto the types of tokens that are on offer in ITOs, these are security tokens and utility tokens.</p>
						<br />
						<h4>STOs vs UTOs</h4>
						<p>Security tokens represent an ‘external, tradeable asset’ which includes (but is not limited to) shares of the company, this then entitles the user to dividends and a share in the value of the company, which they can trade with others at their share of the value the company is currently deemed to be. These types of tokens have been classed as a Security by the American SEC and are subject to regulation under those laws.</p>
						<p>Utility tokens are tokens which are used in the underlying infrastructure of the business that is offering it. A great example of this is the (incorrectly named) FileCoin which requires users to have a FileCoin to gain access to their decentralised cloud storage service. The key to this is that, this DOES NOT represent any share in the company, all it acts as, is a token which allows the user to do something on the platform (or allows the user to sell their right to do something on that platform). You can think of utility tokens as ‘vouchers’ to use the good/service the business offers. However, don’t expect regulation to miss these guys out as they are still a tradable asset, just not external.</p>
						<p>So just to re-iterate this point ITO = STO or UTO.</p>
						<p>An Initial Token Offering is an umbrella term for initially offering some token to investors, whether that is a security token or a utility token.</p>
						<br/>
						<h4>Which one is more secure?</h4>
						<p>STOs and UTOs offer different things to investors. However, I must add:</p>
						<p>1% of nothing is nothing. If you buy a security token, and that company fails, you have a share of nothing.</p>
						<p>Alternatively, a token that is used in the underlying infrastructure of a business is worth nothing if nobody demands what that business is offering. If you buy a utility token and that company fails, you have a token that’s worth nothing.</p>
						<p>The common denominator here is the success of the business, this is where the risk lies. The risk of your investment is entirely dependent on the start-up/business you are investing in.</p>
						<p>The type of investment that the company decides to offer you has absolutely no relevance to the risk of the company’s success. Therefore, STOs are no more ‘secure’ than UTOs.</p>
						<p>Both of these investment models bring amazing opportunities for return on investment in different ways. If used properly, they will both become enormous investment models in the future.</p>
						<br />
						<h4>So... which ones are dead?</h4>
						<p>To conclude, ICOs and ITOs are not dead, far from it, they will continue to bring changes to the world and the people that blindly follow the headlines that ‘ICOs are DEAD’ will be the ones scratching their heads wondering why they missed out again.</p>
						<p>If we really want to bunch all of these terms into one, then we should realistically use ‘ICAO’ which stands for Initial Crypto Asset Offering — as Crypto Assets is an umbrella term for crypto-coins (cryptocurrencies) and crypto-tokens. Or given the fact that it may not be the initial time they have been offered, we could even use ‘CADE’ which stands for a Crypto Asset Distribution Event.</p>
						
						<p>However, I hear your thoughts that ICOs/UTOs are an extremely risky investment and a mass majority of them have failed. Join me on my next rant to learn why this is the case and how we can improve this for the future of crypto.</p>
						<br />
						<h4>TL;DR</h4>
						<p>ICOs and ITOs (which is an umbrella term for STOs and UTOs) are completely different, they offer completely different products and offer completely different investment models for the businesses creating them. None of them are ‘dead’, none of them are ‘dying’ and none of them are a replacement for each other. Oh, and TGE doesn’t have any relevance to anything we’ve discussed here, so stop trying to make a buzz word for the sake of it.</p>
						<p>ICAO or CADE are better umbrella terms for all crypto offerings as they stand for Initial Crypto Asset Offering and Crypto Asset Distribution Event. This then refers to any ICOs, or ITOs (which then refers to any STOs and UTOs).</p>
						
						<!-- <ul class="blog-tags"> -->
							<!-- <li><a href="#">ICOs</a></li> -->
							<!-- <li><a href="#">ITOs</a></li> -->
							<!-- <li><a href="#">tokens</a></li> -->
						<!-- </ul> -->
						
					</div>
					
				</div><!-- .col -->
				<div class="col-lg-4">
				
					<div class="sidebar-section">
						<!-- <div class="sidebar-widget category"> -->
							<!-- <h5 class="sidebar-widget-title">Category</h5> -->
							<!-- <ul> -->
								<!-- <li class="active"><a href="#">Academy</a></li> -->
								<!-- <li><a href="#">Articles</a></li> -->
								<!-- <li><a href="#">Reports</a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
						<!-- <div class="sidebar-widget tags"> -->
							<!-- <h5 class="sidebar-widget-title">Tags</h5> -->
							<!-- <ul> -->
								<!-- <li><a href="#">ethereum</a></li> -->
								<!-- <li><a href="#">tokens</a></li> -->
								<!-- <li><a href="#">coins</a></li> -->
								<!-- <li><a href="#">ICOs</a></li> -->
								<!-- <li><a href="#">ITOs</a></li> -->
								<!-- <li><a href="#">utility-tokens</a></li> -->
							<!-- </ul> -->
						<!-- </div> -->
						
						<div class="sidebar-widget cta-widget text-center" id="iconemy_ad">
							<h5 class="cta-head">We make ICOs easy!</h5>
							<p>Sign up to Iconemy, do KYC once and invest in ICO/ITOs in minutes!</p>
							<a href="/investors#signup" class="btn btn-plane btn-alt">Subscribe now</a>
						</div><!-- .sidebar-widget -->
						
					</div><!-- .sidebar-section -->
					
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section subscribe-section section-pad-md section-bg" id="subscribe">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Don't miss out, Stay updated</h4>
					<div class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" id="email_input" data-page="investors-blog">
						
						<button type="submit" class="btn btn-plane" id="signup_btn">Sign up</button>
						<div class="subscribe-results">
							<div class="alert alert-success" id="success_box" style="display: none;">
								 <p id="success_message"></p>
							</div>
							<div class="alert alert-danger" id="error_box" style="display: none;">
							  <p id="error_message"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li><a href="https://www.facebook.com/Iconemy-701394043551477/"><em class="fa fa-facebook"></em></a></li>
						<li><a href="https://twitter.com/iconemy"><em class="fa fa-twitter"></em></a></li>
						<li><a href="https://www.linkedin.com/company/iconemy"><em class="fa fa-linkedin"></em></a></li>
						<li><a href="https://medium.com/iconemy"><em class="fa fa-medium"></em></a></li>
						<li><a href="https://t.me/joinchat/IJF73BLEOjOF-GgiL_-tqg"><em class="fa fa-telegram"></em></a></li>
					</ul>
					<span class="copyright-text">
						2018, ICONEMY
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Preloader !remove please if you do not want -->
	<!-- <div id="preloader"> -->
		<!-- <div id="loader"></div> -->
		<!-- <div class="loader-section loader-top"></div> -->
   		<!-- <div class="loader-section loader-bottom"></div> -->
	<!-- </div> -->
	<!-- Preloader End -->

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/new_landing/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/new_landing/script.js?ver=122"></script>
	<script src="/javascripts/new_landing/subscribe.js?ver=122"></script>

</body>
</html>
